 
<!--CARD CONTAINER START-->
<md-background-banner color="#235b91" height="300px"> </md-background-banner>

<div ng-controller="AppCtrlAdd as ctrl">
    
    <!--WHITEFRAME START-->
    
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto">
        
      <!---  <div id="view" class="fab_button_animation" style="background:#3498db;"></div>
        
<!--
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
            ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
            
            <md-fab-trigger>
                
                
                <div style="padding:0px;">
                    
                    <md-button aria-label="menu" class="md-fab md-warn" style="background-color:red;">
                        
                        <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
                        
                    </md-button>
                    
                </div>
                
            </md-fab-trigger>
            
            <md-fab-actions>
                
                <div style="padding:5px;">
                    
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="save()" style="background-color:#3498db;">
                        
                        <md-icon md-svg-src="img/ic_save_24px.svg" ></md-icon>
                        <md-tooltip md-direction="left">Save</md-tooltip>
                        
                    </md-button>
                    
                </div>
                
                <div style="padding:5px;">
                    
                    <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="Customerview()" style="background-color:#9b59b6;">
                        
                        <md-icon md-svg-src="img/ic_visibility_24px.svg"></md-icon>
                        <md-tooltip md-direction="left">View Project</md-tooltip>
                        
                    </md-button>
                    
                </div>
                
            </md-fab-actions>
            
        </md-fab-speed-dial>
-->
        
        <!--FORM START-->
        
        <form name="editForm" ng-submit="submit();" style="width:100%">
            
            <md-content flex>
                
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                        
                    </div>
                    
                    <div flex="20" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Project Details</label>
                        
                    </div>
                    
                   <md-autocomplete flex="" required="" md-input-name="autocompleteField"
                  md-no-cache="ctrl.noCache" 
                  md-selected-item="ctrl.selectedItem" 
                  md-search-text="ctrl.searchText"
                  md-items="item in ctrl.querySearch(ctrl.searchText)" 
                  md-item-text="item.display" 
                  md-floating-label="Customer">
                  <md-item-template>
                     <span  md-highlight-text="ctrl.searchText">{{item.display}}</span>
                  </md-item-template>
                  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                     <div ng-message="required">You 
                        <b>must</b> have a favorite state.
                     </div>
                     <div ng-message="minlength">Your entry is not long enough.</div>
                     <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
               </md-autocomplete>
                        
<!--
                    <div flex>
                        
                        <md-date-picker model="project.date" label="Date" dialog-md-theme="datePickerTheme"/>
                        
                    </div>
-->
                        
                </div>
                    
                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container flex >
                        
                        <label>Project Name</label>
                        <input ng-model="project.name" required>
                        
                    </md-input-container>
                    
                    <div flex>
                        
                        <md-date-picker model="project.date" label="Date" dialog-md-theme="datePickerTheme"/>
                        
                    </div>
                    
                </div>
                 <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                
                    <md-input-container flex >
                        
                        <label>Project Description</label>
                        <input ng-model="project.descriptions" required>
                        
                    </md-input-container>
                    
                </div>
                    
                 <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container  flex >
                        
                        <label>Billing Method</label>
                        <md-select ng-chANGE="onChange(project.billingmethod)" ng-model="project.billingmethod" flex>
                            <md-optgroup label="Billing Method">
                            <md-option value="hsr">Hourly Staff Rate</md-option>
                            <md-option value="htr">Hourly Task Rate</md-option>
                            <md-option value="hpr">Hourly Project Rate</md-option>
                            <md-option value="fpa">Flat Project Amount</md-option>
                        </md-select>
                            
                    </md-input-container>
                        
                    <md-input-container flex >
                        
                        <label>Budgeted Hours</label>
                        <input ng-model="project.bhours" required>
                        
                    </md-input-container>
                        
                   
                        
                </div>
                    
                <div layout layout-sm="column" ng-show="checkAvailabilty" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                     
                    <md-input-container flex >
                        
                        <label>Hourly Project Rate</label>
                        <input ng-disabled="checkAbilityprate" ng-model="project.prate" required>
                        
                    </md-input-container>
                    
                     <md-input-container flex >
                        
                        <label>Flat Project Amount</label>
                        <input ng-disabled="checkAbilitypamount" ng-model="project.pamount" required>
                        
                    </md-input-container>
                    
                </div>
                    
               
                    
                <md-divider></md-divider>
                    
                <div layout layout-sm="column" layout-margin ng-repeat="project in addstaffs track by $index">
                    
                    <div ng-if="project.sno=='1'" flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
                        
                    </div>
                    
                    <div flex="20" ng-if="project.sno=='1'" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Staff members</label>
                        
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" ng-if="project.sno !='1'" class="blankspace">
                    </div>
                    
                    <div flex="20"  ng-if="project.sno !='1'" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container flex>
                        
                        <label>Select a User</label>
                        <input ng-model="project.staffname" required>
                        
                    </md-input-container>
                    
                    <md-input-container flex>
                        
                        <label>Hourly Rate</label>
                        <input ng-model="project.shr" ng-disabled="checkAbilityshr">
                        
                    </md-input-container>
                    
                    <input type="hidden" ng-model="project.sno">
                    
                    <a href ng:click="removeStaff($index)" ng-if="project.sno !='1'" class="btn btn-small">
                        
                        <md-icon md-svg-src="img/ic_more_horiz_24px.svg" style="width:30px; margin-top:45px;" ></md-icon>
                        
                        <md-tooltip md-direction="left">Remove staff</md-tooltip>
                        
                    </a>
                    
                </div>
                    
                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div style="margin-left:1%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addstaff()">Add Staff</md-button>
                    </div>
                        
<!--
                        <md-button class="md-icon-button" ng-click="addstaff()"  type="button">
                            
                            <md-icon md-svg-src="img/ic_add_circle_outline_24px.svg" class="iconColor" style="right:1px;left:90%;top:20px;" ></md-icon>
                            
                        </md-button>
                        
                        <text style="margin-top:18px;font-size:13px;color:rgb(130,130,130);font-weight:700">Add Staff</text>
-->
                        
                    
                    
                </div>
                    
                <md-divider></md-divider>
                    
                <div layout layout-sm="column" layout-margin ng-repeat="project in addtasks track by $index">
                    
                    <div flex="5" ng-if="project.tno=='1'">
                        
                        <img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
                        
                    </div>
                    
                    <div flex="20" style="margin-top:35px;" ng-if="project.tno=='1'">
                        
                        <label style="font-weight:700">Tasks</label>
                        
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" ng-if="project.tno !='1'" class="blankspace">
                    </div>
                    
                    <div flex="20"  ng-if="project.tno !='1'" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container flex>
                        
                        <label>Select or enter a task</label>
                        <input ng-model="project.taskName" required>
                        
                    </md-input-container>
                    
                    <md-input-container flex>
                        
                        <label>Hourly Rate</label>
                        <input ng-model="project.thr" ng-disabled="checkAbilitythr">
                        
                    </md-input-container>
                    
                    <input type="hidden" ng-model="project.tno">
                    
                    <a href ng:click="removeTask($index)" ng-if="project.tno !='1'" class="btn btn-small">
                        
                        <md-icon md-svg-src="img/ic_more_horiz_24px.svg" style="width:30px; margin-top:45px;" ></md-icon>
                        
                        <md-tooltip md-direction="left">Remove Task</md-tooltip>
                        
                    </a>
                    
                </div>
                    
                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div style="margin-left:1%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addtask()">Add Task</md-button>
                        
                    </div>
                    
                </div>
                    
                <md-divider></md-divider>
                    
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                        
                    </div>
                    
                    <div flex="20" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Optional Details</label>
                        
                    </div>
                    
                    <md-input-container flex>
                        
                        <label>Notes</label>
                        <textarea ng-model="project.notes" ></textarea>
                        
                    </md-input-container>
                    
<!--
                    <div style="margin-left:1%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="upload()">Upload File</md-button>
                        
                    </div>
-->
                    
                    
                </div>
                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    <div style="margin-left:1%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="upload()">Upload File</md-button>
                        
                    </div>
                   
                </div>
                     <md-diveder></md-diveder>
                 <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    <div style="margin-left:55%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="save()">Save</md-button>
                        
                    </div>
                      <div style="margin-left:2%;">
                        <md-button href class="md-raised md-primary" style="height:5px; "ng-click="Customerview()">Cancel</md-button>
                        
                    </div>
                   
                </div>
                <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                    
                    <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
                        
                    </md-button>
                    
                </div>
                    
            </md-content>
                    
        </form>
                
    </md-whiteframe>
            
    <br><br>
            
    <!--WHITEFRAME END-->
            
</div>
        
<!--CARD CONTAINER END-->