		
<!--START OF COLLAPSE CARDS-->
<div ng-init="loadAllprojects()" ></div>
			<div class="collapse-card ng-scope" ng-repeat="project in projects| filter:ctrl.searchText||undefined | orderBy: prodSearch " ng-class="{ active: $active }" style="">
			
				<!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
				<div class="collapse-card__heading" layout="row" layout-align="start start" >
					<div class="collapse-card_header_content_controls" style="width:5%;" flex="5" layout="column" layout-align="center start">
                         <div style="width:5%">
                    
                    <div  ng-hide="project.favoritestar" class="blankspace collapse-card_header_content_info" 
                        ng-click="favouriteFunction(project)" layout="row">
                        
                        <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                        
                    </div>
                    
                    <div  ng-show="project.favoritestar" class="blankspace collapse-card_header_content_info" 
                        ng-click="favouriteFunction(project)" layout="row">
                        
                        <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                        
                    </div>
                    
                </div>
						
						
						<md-button aria-label flex ng-if="content.favourite == false" ng-disabled="false" class="md-icon-button launch" 
						ng-click="selectItem(content)">
							<md-icon md-svg-icon="img/ic_check_box_outline_blank_24px.svg"></md-icon>
						</md-button>

						<md-button aria-label flex ng-if="content.favourite == true" ng-disabled="false" class="md-icon-button launch" 
						ng-click="selectItem(content)">
							<md-icon md-svg-icon="img/ic_check_box_24px.svg"></md-icon>
						</md-button>



						
					</div>
					<!--END OF CARD CONTROLS SECTION-->
					<!--START OF CARD OPEN SECTION-->
					<div class="collapse-card_header_content_info" layout="row" style="width:5%;" layout-align="center start" flex="80" ng-click="$active = !$active; closeAll();">
						<div layout-sm="row" flex>
             
            <div layout-sm="column" flex>
                
              <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>   {{project.date}}</b></span>
              <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b> {{project.name}}</b></span>
              <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px;border-width:1px;"><b>{{project.customerNames}} </b></span>
             
              </div>

              <div layout-sm="column" style="margin-top:10px;" flex>
                  
                <span style="padding-right: 15px;border-right-style: solid; border-width:1px; font-size:13px;">Billing Method {{project.billingmethod}}</span>
                <span style="padding-right: 15px; padding-left: 15px; border-right-style: solid; border-width:1px; font-size:13px;">Logged Hrs {{project.bhours}}</span>
       <span style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; ">Billed Hrs {{project.bhours}}</span>
                  
             </div>
             
         </div>
					
					</div>
					<!--END OF CARD OPEN SECTION-->
					
					<!--START OF CARD CONTROLS SECTION-->
	
					
					<div style="width:5%;padding-left:10%;">
					<div class="collapse-card_header_content_controls" flex="10" style="width:5%;" layout="column" layout-align="center start">
			         
						<md-menu md-position-mode="target-right target">
							<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
								<md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button ng-click="updateProject(project,project.projectid)">
										<div layout="row">
											<p flex>Update Project</p>
											<md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="deleteProject(project,$event)">
										<div layout="row">
											<p flex>Delete project</p>
											<md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
								
								<md-menu-item>
									<md-button ng-click="">
										<div layout="row">
											<p flex>Print</p>
											<md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
							
							</md-menu-content>
						</md-menu>
                        </div>
					</div>
					<!--END OF CARD CONTROLS SECTION-->
				</div>
				<!--END OF COLLAPSE CARD HEADING-->
				
				<!--START OF CARD BODY-->
				<div class="collapse-card__body">
					<form id="form" name="editForm">
						<md-content>
<!--
							<div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                        
                        <div style="margin-top:8px">Editing</div>
                        
                        <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin:6px" ng-change="onChangeEditing(formEditing,project.staffs)">
                        </md-switch>
                        
                        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityBtn" ng-click="deleteProject(project,$event)">
                            
                            <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                            
                        </md-button>
                        
                        <md-button type="button" style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityBtn" ng-click="updateProject(project,project.projectid)">
                            
                            <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                            
                        </md-button>
                        
                    </div>
-->
				            <md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>

								<div flex="5">
									<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Project Details</label>
								</div>
                                
                               <md-autocomplete flex="" required="" md-input-name="autocompleteField" md-no-cache="$root.noCache" md-selected-item="$root.selectedItem1" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-floating-label="Customer" md-autofocus="true" md-selected-item-change="selectedItemChange($root.selectedItem1)">
                                <md-item-template>
                            <span  md-highlight-text="ctrl.searchText"  md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                            </md-autocomplete>
                                    							
							</div>
								
							<div layout layout-sm="column" layout-margin>

								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
								
								<md-input-container flex >
                            
                                    <label>Project Name</label>
                                    <input ng-model="project.name"   required>
                            
                                </md-input-container>
                                <div flex>
                            
                                    <md-date-picker model="project.date"   label="Date" dialog-md-theme="datePickerTheme"/>
                            
                               </div>
                        
                             
								
								
							</div>
							
							<div layout layout-sm="column" layout-margin>

								<div flex="5" hide-sm>
							
								</div>
								<div flex="20" hide-sm>
								</div>
								
				            <md-input-container flex 
                                            
                                 <label>Project Description</label>
                                <input ng-model="project.descriptions"   required>
                        
                           </md-input-container>
								 
							</div>
							
							<div layout layout-sm="column" layout-margin>

								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
								
                                 <md-input-container flex >
                            
                                    <label>Budgeted Hours</label>
                                     <input ng-model="project.bhours"  ng-disabled="checkAbilityEditing" required>
                            
                                </md-input-container>
                        
                                <md-input-container flex >
                            
                                    <label>Hourly Project Rate</label>
                                     <input ng-model="project.prate"   required>
                            
                                </md-input-container>
								
							</div>
							
							<div layout layout-sm="column" layout-margin>
								
								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
								 <md-input-container  flex >
                            
                            <label>Billing Method</label>
                            <md-select  ng-model="project.billingmethod"  flex>
                                <md-optgroup label="Billing Method">
                                <md-option value="c1">Hourly Staff Rate</md-option>
                                <md-option value="c2">Hourly Task Rate</md-option>
                                <md-option value="c3">Hourly Project Rate</md-option>
                                <md-option value="c4">Flat Project Amount</md-option>
                            </md-select>
                                
                        </md-input-container>
                            
                        <md-input-container flex >
                            
                            <label>Final Project Amount</label>
                            <input ng-model="project.pamount" required>
                            
                        </md-input-container>
								
																		
							</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin ng-repeat="project in project.staffs track by $index">

								<div ng-if="project.sno=='1'" flex="5">
								  <img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" ng-if="project.sno=='1'" style="margin-top:35px;">
									<label style="font-weight:700">Staff Members</label>
								</div>
                                
                                <div flex="5" ng-if="project.sno !='1'" class="blankspace">
                                </div>
                        
                                <div flex="20"  ng-if="project.sno !='1'" class="blankspace">
                                </div>
                                
                                <md-input-container flex>
                            
                                    <label>Select a User</label>
                                    <input ng-model="project.staffname"   required>
                            
                                </md-input-container>
                        
                                <md-input-container flex>
                            
                                    <label>Hourly Rate</label>
                                    <input ng-model="project.shr"  required>
                            
                                </md-input-container>
                        
                                <input type="hidden" ng-model="project.sno">
                                
                            <div style="margin-top:17px;">
                            
                            <md-button class="md-icon-button"   
                                ng:click="removeStaffupdate($parent.$parent.$index,$index)"
                                ng-if="project.sno !='1'"
                                type="button" style="height:-48px !important;">
                                <md-icon                                        
                                    md-svg-src="img/ic_more_horiz_24px.svg" 
                                    style="width:30px;margin-top:27px;"></md-icon>
                                <md-tooltip md-direction="left">Remove staff</md-tooltip>
                                
                            </md-button>
                               
								
							 </div>
							
							</div>
                                
                            <div layout layout-sm="column" layout-margin>
								
								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
                                
                                <div style="margin-left:1%;">
                                    <md-button href class="md-raised md-primary"style="height:5px; " ng-click="addStaffupdate(project.staffs)">Add Staff</md-button>
                              
                                </div>
                            </div>
                                <md-divider></md-divider>
                            <div layout layout-sm="column" layout-margin ng-repeat="project in project.tasks track by $index">

								<div ng-if="project.tno=='1'" flex="5">
									<img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" ng-if="project.tno=='1'" style="margin-top:35px;">
									<label style="font-weight:700">Tasks</label>
								</div>
                                
                                <div flex="5" ng-if="project.tno !='1'"  class="blankspace">
                                </div>
                        
                                <div flex="20"  ng-if="project.tno !='1'" class="blankspace">
                                </div>
                                
                                <md-input-container flex>
                            
                                    <label>Select or enter a task</label>
                                    <input ng-model="project.taskName"  required>
                            
                                </md-input-container>
                        
                                <md-input-container flex>
                            
                                    <label>Hourly Rate</label>
                                    <input ng-model="project.thr"   required>
                            
                                </md-input-container>
                        
                                <input type="hidden" ng-model="project.tno">
                                 <div style="margin-top:17px;">
                            
                            <md-button class="md-icon-button"    
                                ng:click="removeTaskupdate($parent.$parent.$index,$index)"
                                ng-if="project.tno !='1'"
                                type="button" style="height:-48px !important;">
                                <md-icon                                        
                                    md-svg-src="img/ic_more_horiz_24px.svg" 
                                    style="width:30px;margin-top:27px;"></md-icon>
                                <md-tooltip md-direction="left">Remove Task</md-tooltip>
                                
                            </md-button>
                            
                        </div>
                            </div>
                                  
                         <div layout layout-sm="column" layout-margin>
								
								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
                             
                         <div style="margin-left:1%;">
                             <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addTaskupdate(project.tasks)">Add Task</md-button>
                            
                        </div>
                      
                        </div>
                          <md-divider></md-divider>
                        <div layout layout-sm="column" layout-margin>

								<div flex="5">
									<img src="img/material alperbert/avatar_tile_n_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Optional Details</label>
								</div>
                            <md-input-container flex>
                            
                               <label>Notes</label>
                               <textarea ng-model="project.notes" ></textarea>
                            
                           </md-input-container>
                            </div>
                             <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    <div style="margin-left:1%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="upload()">Upload File</md-button>
                        
                    </div>
                   
                </div>
                        <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                        
                        <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
                        </md-button>
                        
                       </div>
                         
						</md-content>
					</form>
				</div>
				<!--END OF CARD BODY-->
				
				
			</div>
			<!--END OF COLLAPSE CARDS-->
