		

<!--
			<div layout="row" layout-align="center center" style="margin-top:25%" ng-if="headerInfo.Success == false">
				<h1>Please add a Card or an Account.</h1>
			</div>
-->
<!--START OF COLLAPSE CARDS-->
<div ng-init="loadAllTimesheets()" ></div>
			<div  class="collapse-card" ng-repeat="time in Timesheets | filter:ctrl.searchText||undefined | orderBy: prodSearch" ng-class="{ active: $active }" style="margin-top:0px;" ><!---->
			
				<!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
				<div class="collapse-card__heading" layout="row" layout-align="start start" >
					<div class="collapse-card_header_content_controls" flex="5" layout="column" layout-align="center start">
                         <div style="width:9%">
                    
                    <div  ng-hide="time.favoritestar" class="blankspace collapse-card_header_content_info" 
                        ng-click="favouriteFunction(time)" layout="row">
                        
                        <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px;  height:23px;width:23px;"/>
                        
                    </div>
                    
                    <div  ng-show="time.favoritestar" class="blankspace collapse-card_header_content_info" 
                        ng-click="favouriteFunction(time)" layout="row">
                        
                        <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                        
                    </div>
                    
                </div>
						
						
						<md-button aria-label flex ng-if="content.favourite == false" ng-disabled="false" class="md-icon-button launch" 
						ng-click="selectItem(content)">
							<md-icon md-svg-icon="img/ic_check_box_outline_blank_24px.svg"></md-icon>
						</md-button>

						<md-button aria-label flex ng-if="content.favourite == true" ng-disabled="false" class="md-icon-button launch" 
						ng-click="selectItem(content)">
							<md-icon md-svg-icon="img/ic_check_box_24px.svg"></md-icon>
						</md-button>



						
					</div>
					<!--END OF CARD CONTROLS SECTION-->
					<!--START OF CARD OPEN SECTION-->
					<div class="collapse-card_header_content_info" layout="row" layout-align="center start" flex="80" ng-click="$active = !$active; closeAll();">
						<div layout-sm="row" flex>
             
            <div layout-sm="column" flex>
                
               <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>   {{time.date}}</b></span>
              <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b> {{time.project}}</b></span>
              <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px;border-width:1px;"><b>{{time.hours}} </b></span>
             
              </div>

              <div layout-sm="column" style="margin-top:10px;" flex>
                  
                <span style="padding-right: 15px; border-right-style: solid; border-width:1px; font-size:13px;">User {{time.user}}</span>
                <span style="padding-right: 15px; padding-left: 15px; border-right-style: solid; border-width:1px; font-size:13px;">Task {{time.task}}</span>
       <span style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; ">Status {{time.status}}</span>
             </div>
             
         </div>
					
					</div>
					<!--END OF CARD OPEN SECTION-->
					
					<!--START OF CARD CONTROLS SECTION-->
	
					
					<div style="width:5%;padding-left:10%;">
					<div class="collapse-card_header_content_controls" flex="10" layout="column" layout-align="center start">
			
						<md-menu md-position-mode="target-right target">
							<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
								<md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button ng-click="updateTimesheet(time,time.timesheetid)">
										<div layout="row">
											<p flex>Update Timesheet</p>
											<md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="deleteTimesheet(time,$event)">
										<div layout="row">
											<p flex>Delete</p>
											<md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
								
								<md-menu-item >
									<md-button ng-click="">
										<div layout="row">
											<p flex>Print Request</p>
											<md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
										</div>
									</md-button>
								</md-menu-item>
							
							</md-menu-content>
						</md-menu>
					</div>
                    </div>
					<!--END OF CARD CONTROLS SECTION-->
				</div>
				<!--END OF COLLAPSE CARD HEADING-->
				
				<!--START OF CARD BODY-->
				<div class="collapse-card__body">
					<form id="form" name="editForm">
						<md-content>
<!--
							<div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                        
                        <div style="margin-top:8px">Editing</div>
                        
                        <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin:6px" ng-change="onChangeEditing(formEditing)">
                        </md-switch>
                        
                        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityBtn" ng-click="deleteTimesheet(time,$event)">
                            
                            <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                            
                        </md-button>
                        
                        <md-button type="button" style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityBtn" ng-click="updateTimesheet(time,time.timesheetid)">
                            
                            <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                            
                        </md-button>
                        
                    </div>
-->
							
							
							
							
							<div layout layout-sm="column" layout-margin>

								<div flex="5">
									<img src="img/material alperbert/avatar_tile_l_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Log Details</label>
								</div>
								<div flex>
                            
                            <md-date-picker model="time.date"  ng-disabled="checkAbilityEditing" label="Date" dialog-md-theme="datePickerTheme"/>
                            
                               </div>
                               <div flex>
                                <md-input-container flex >
                            
                                  <label>Hours</label>
                                 <input ng-model="time.hours"  ng-disabled="checkAbilityEditing"  required>
                            
                                </md-input-container>
                               </div>
								
							</div>
								
							<div layout layout-sm="column" layout-margin>

								<div flex="5" hide-sm>
								</div>
								<div flex="20" hide-sm>
								</div>
                                
                            <md-input-container flex >
                         
                        <label>Project</label>
                        <md-select  ng-model="time.project" ng-disabled="checkAbilityEditing"  flex>
                            <md-optgroup label="Project">
                            <md-option value="project-1">Project-1</md-option>
                            <md-option value="project-2">Project-2</md-option>
                            <md-option value="project-3">Project-3</md-option>
                            <md-option value="project-4">Project-4</md-option>
                        </md-select>
                    
                     </md-input-container>
                         
                     <md-input-container flex >
                         
                        <label>Task</label>
                        <md-select  ng-model="time.task" ng-disabled="checkAbilityEditing"  flex>
                            <md-optgroup label="Task">
                            <md-option value="task-1">Task-1</md-option>
                            <md-option value="task-2">Task-2</md-option>
                            <md-option value="task-3">Task-3</md-option>
                            <md-option value="task-4">Task-4</md-option>
                        </md-select>
                    
                     </md-input-container>
								
								
								
								
							</div>
							
							<div layout layout-sm="column" layout-margin>

								<div flex="5" hide-sm>
							
								</div>
								<div flex="20" hide-sm>
								</div>
								<md-input-container flex >
                         
                                    <label>Status</label>
                                    <md-select  ng-model="time.status" ng-disabled="checkAbilityEditing"  flex>
                                        <md-optgroup label="Status">
                                        <md-option value="status-1">Status-1</md-option>
                                        <md-option value="status-2">Status-2</md-option>
                                    </md-select>
                    
                                </md-input-container>
              
                                <md-input-container flex >
                         
                                    <label>User</label>
                                    <md-select  ng-model="time.user" ng-disabled="checkAbilityEditing"  flex>
                                        <md-optgroup label="Status">
                                        <md-option value="user-1">User-1</md-option>
                                        <md-option value="user-2">User-2</md-option>
                                    </md-select>
                    
                                </md-input-container>
								 
								 
							</div>
							     <md-divider></md-divider>
							
							<div layout layout-sm="column" layout-margin>

								<div flex="5">
									<img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Optional Details</label>
								</div>
                                
                                <md-input-container flex>
                        
                                    <label>Notes</label>
                                    <textarea ng-model="time.notes" ng-disabled="checkAbilityEditing" ></textarea>
                        
                                </md-input-container>
                    
                             </div>
                                            
                            <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                        
                            <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
                            </md-button>
                        
                            </div>
							
							
							
						
						</md-content>
					</form>
				</div>
				<!--END OF CARD BODY-->
				
				
			</div>
			<!--END OF COLLAPSE CARDS-->
