<md-dialog style="width: 800px;">
	<md-toolbar modal-header style="height: 48px">
			<div class="md-toolbar-tools" >
				<h2>Uploader</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="closeDialog()">
					<md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar> 
	<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
		 
			<form style="width:100%"> 
				<md-content flex>

						<div layout layout-sm="column" layout-margin>
								<div flex="5">
				                  <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
				                  </div>
				                  <div flex="20" style="margin-top:35px;">
				                     <label style="font-weight:700">Upload Image</label>
				                  </div>

							   <div flex="25">
			                     <file-up-loader-new label="Upload Image" upload-type="image">
			                     </file-up-loader-new>
			                  </div>

                        </div>  
                        
                         
                        
						<md-divider></md-divider>  			   
				</md-content>
			</form>	 
	</div>

        <div class="md-actions" layout="row"  >

				    <span flex></span>
				    <md-button  ng-click="AddCus()" class="md-primary" >
				    Add
				    </md-button>
				    <md-button type ="button" ng-click="closeDialog()" class="md-primary" ng-show="dialogaddbutton">
				    Close
				    </md-button>
				  </div>

  						 
</md-dialog>