<style>
   @media screen and (max-width: 599px) {
   .card_container {
   padding-top: 114px!important;
   }
   }
   @media screen and (max-width: 768px) {
   .card_container {
   padding-top: 114px!important;
   }
   }
   /* page animation start*/
   /*page animation end */
</style>
<div ng-init="loadAllInventory()">
</div>
<!-- 	<div ng-init="DemoCtrl1()" >
   </div> -->
<!--START OF ALL CONTENT-->
<div ng-controller="viewctrl as ctrl" >
   <!--START OF FIRST CARD CONTAINER-->
   <div class="header_container" >
      <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">
  
             <md-autocomplete flex  
            ng-keypress="enter($event)"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearchView(ctrl.searchText)"
            md-item-text="item.ProductCode"
            md-min-length="0"
            placeholder="Action Search">
            <md-item-template>
               <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
            </md-item-template>
         </md-autocomplete>


          <sort-option name-array="testarr" serch-item="prodSearch" star="ctrl.searchText">  </sort-option>
      </md-whiteframe>

      <md-content class="tab_content">
         <md-tabs md-stretch-tabs md-selected="selectedIndex" ng-click="changeTab(selectedIndex)">
            <md-tab label="Receipt" ></md-tab>
            <md-tab label="Issue"></md-tab>
         </md-tabs>
      </md-content>
   </div>
   <!--END OF FIRST CARD CONTAINER-->
   <!--START OF SECOND CARD CONTAINER-->
   
   <!--START OF SECOND CARD CONTAINER-->

<!--END OF ALL CONTENT-->
<div class="card_container" style="padding-top: 117px;">
      <div class="ui-view-container">
         <div class="container" ui-view  viewcss></div>
      </div>

   </div>

</div>

   <div id="addinventory" class="fab_button_animation" style="background:red;"></div>
<div id="viewissues" class="fab_button_animation" style="background:#3498db;"></div>
<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
   ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"  ng-if="showaddInventory == true">
   <md-fab-trigger>
      <div style="padding:0px;">
         <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
         </md-button>
      </div>
   </md-fab-trigger>
   <md-fab-actions>
      <div style="padding:5px;">
         <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addInventory()" style="background-color:red;">
            <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
            <md-tooltip md-direction="left">Add Receipt</md-tooltip>
         </md-button>
      </div>
   </md-fab-actions>
</md-fab-speed-dial>
<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
   ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"  ng-if="showaddInventory == false">
   <md-fab-trigger>
      <div style="padding:0px;">
         <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
         </md-button>
      </div>
   </md-fab-trigger>
   <md-fab-actions>
      <div style="padding:5px;">
         <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addInventoryIssue()" style="background-color:red;">
            <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
            <md-tooltip md-direction="left">Add Issue</md-tooltip>
         </md-button>
      </div>
   </md-fab-actions>
</md-fab-speed-dial>
