<!--START OF  COLLAPSE CARDS-->
<div  class="collapse-card" ng-repeat="inventory in arissues | filter:ctrl.searchText||undefined | orderBy: prodSearch" ng-class="{ active: $active }">
   <!--START OF COLLAPSE CARD HEADING-->
   <div class="collapse-card__heading" layout="row" layout-align="start start">
      <!--START OF CARD OPEN SECTION-->
      <div style="width:56px;">
         <div flex ng-hide="inventory.inventoryFavourite" class="collapse-card_header_content_info" ng-click="favouriteFunction(inventory)" layout="row">
            <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
         </div>
         <div flex ng-show="inventory.inventoryFavourite" class="collapse-card_header_content_info" 
            ng-click="favouriteFunction(inventory)" layout="row">
            <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
         </div>
      </div>
      <div class="collapse-card_header_content_info" layout-sm="column" layout="row" layout-align="center start" style="width:95%;height:70px;" ng-click="$active = !$active;">



       <div layout-sm="row" flex style="margin-top: 13px; margin-left:10px;">
                        <div layout-sm="column" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>   {{inventory.date|date}}</b>
                            </span>
                            <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>GIN No.{{inventory.GINno}}</b>
                            </span>
                             <span style="  padding-right: 15px;margin-left:-20px; border-width:1px;" class="collapse-card__title">
                                <b>{{inventory.customerNames}}</b>
                            </span>
                            
                          
                        
                        </div>
                       
                    </div>



<!-- WITH RESPONSIVE -->

 		 <!-- <div layout= "row" layout-sm="column" flex style="width: 50%">
            	<div flex>
            		 <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>  {{inventory.date|date}}</b></span>
              	</div>
            	<div flex="15">
            		<span style="padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b style="padding-left: 20px;">{{inventory.GINno}}</b></span>
              
            	</div>
            	<div flex>
            		 <span  class="collapse-card__title"style="  padding-right: 15px; margin-left:-20px; border-right-style: solid; border-width:1px;"><b style="padding-left: 20px;">{{inventory.customerNames}}</b></span>
             
            	</div>
            </div>

       <div layout ="row" style="width:30%;" layout-sm="column" flex >
         <div style="width:60%;"  layout ="row" layout-sm="column" flex ng-repeat="item in inventory.itemdetails | limitTo:1">
          <div flex="45">
            	  <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.productname}} </span>                 
            	</div>
               <div flex>
                <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.Quantity}} </span>                 
               </div>

               <div flex>
                <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.Unit}} </span>                 
               </div>
                
         </div>
         <div ng-if="inventory.itemdetails.length  > 1" style="margin-left: 7px;">
                <md-icon md-svg-icon="img/ic_keyboard_control_24px.svg"></md-icon>              
         </div>
             
       </div> -->
        
         
      </div>
      <!--END OF CARD OPEN SECTION-->
      <!--START OF CARD CONTROLS SECTION-->
      <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center end">
         <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
               <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item >
                   <md-button ng-click="InventoryDelete(inventory)">
                       <md-icon md-svg-icon="img/ic_delete_24px.svg" ></md-icon>
                       <p>Delete</p>
                   </md-button>
               </md-menu-item>
               <md-menu-item >
                   <md-button ng-click="inventoryupdate(inventory)">
                       <md-icon md-svg-icon="img/ic_save_24px.svg" ></md-icon>
                       <p>Edit</p>
                   </md-button>
               </md-menu-item>
                <md-menu-item>
                   <md-button ng-click="printDetails($index)">
                       <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                       <p>Print Request</p>
                   </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </div>
      <!--END OF CARD CONTROLS SECTION-->
   </div>
   <!--END OF COLLAPSE CARD HEADING-->
   <!--START OF CARD BODY-->
   <div class="collapse-card__body">
      <form name="editForm">
         <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
            <div style="margin-top:8px">Editing</div>
            <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin-top:6px !important;" ng-change="onChangeinventory(formEditing)">
            </md-switch>
           <!--  <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="InventoryDelete(inventory)">
               <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
            </md-button>
            <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="inventoryupdate(inventory)">
               <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
            </md-button> -->
         </div>
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
                  <img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
               </div>
               <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">Customer Details</label>
               </div>
               <md-input-container flex >
                  <label>Customer</label>
                  <input ng-model="inventory.customerNames" required ng-disabled="true">
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
               </div>
               <div flex="20" style="margin-top:35px;">
               </div>
               <md-input-container flex ng-if="inventory.AddressName == 'Address'" >
                  <label>{{inventory.AddressName}}</label>
                  <textarea maxlength="200" type="text" ng-model="inventory.BillAddress" required ng-disabled="true">
							</textarea>
                  <!-- 	<md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressChangeissue(inventory)" ng-hide="checkAbility"></md-icon> -->
                  <!-- 	  <md-menu md-position-mode="target-right target">
                     <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()" style="right:1px;left:90%;top:20px;" >
                     	<md-icon md-svg-icon="img/ic_more_horiz_48px.svg" ng-hide="checkAbility"></md-icon>
                     </md-button>
                     
                     <md-menu-content width="4">
                     	 
                     	<md-menu-item>
                     		<md-button ng-click="addressfuncissue(inventory)">
                     			<p>Address</p>
                     		 </md-button>
                         </md-menu-item>
                     	<md-divider></md-divider>
                     	<md-menu-item>
                     		<md-button ng-click="shipaddressfuncissue(inventory)">
                     			<p>Shipping Address</p>
                     		 </md-button>
                         </md-menu-item>
                     </md-menu-content>
                     	 </md-menu> -->
               </md-input-container>
               <md-input-container flex ng-if="inventory.AddressName == 'Shipping Address'">
                  <label>{{inventory.AddressName}}</label>
                  <textarea maxlength="200" type="text" ng-model="inventory.ShipAddress" required ng-disabled="true">
							</textarea>
                  <!-- 	<md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressChangeissue(inventory)" ng-hide="checkAbility"></md-icon>
                     -->	
                  <!-- 	  <md-menu md-position-mode="target-right target">
                     <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()" style="right:1px;left:90%;top:20px;" >
                     	<md-icon md-svg-icon="img/ic_more_horiz_48px.svg" ng-hide="checkAbility"></md-icon>
                     </md-button>
                     
                     <md-menu-content width="4">
                     	 
                     	<md-menu-item>
                     		<md-button ng-click="addressfuncissue(inventory)">
                     			<p>Address</p>
                     		 </md-button>
                         </md-menu-item>
                     	<md-divider></md-divider>
                     	<md-menu-item>
                     		<md-button ng-click="shipaddressfuncissue(inventory)">
                     			<p>Shipping Address</p>
                     		 </md-button>
                         </md-menu-item>
                     </md-menu-content>
                     		 </md-menu> -->
               </md-input-container>
               <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressfuncissueold(inventory)" ng-hide="checkAbility"></md-icon>
            </div>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
               </div>
               <div flex="20" style="margin-top:35px;">
               </div>
               <md-input-container flex >
                  <label>GIN No</label>
                  <input ng-model="inventory.GINno" required ng-disabled="checkAbility">
               </md-input-container>
               <md-date-picker model="inventory.date" label="Date" dialog-md-theme="datePickerTheme" 
                  style="margin-top: 13px;" flex/>
               </md-date-picker>
            </div>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
               </div>
               <div flex="20" style="margin-top:35px;">
               </div>
               <md-input-container flex >
                  <label>Internal note</label>
                  <input ng-model="inventory.InternalNote" required></textarea>
               </md-input-container>
               <md-input-container flex >
                  <label>Comment</label>
                  <input ng-model="inventory.Comment" required ng-disabled="checkAbility">
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
                  <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
               </div>
               <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">Items</label>
               </div>
               <div layout="column"   flex ng-disabled="checkAbility">
                  <div flex layout="row" >
                     <ul  flex style="max-width:600px;" as-sortable="sortableOptions" ng-model="inventory.itemdetails">
                        <li ng-repeat="item in inventory.itemdetails" as-sortable-item style="max-width:600px;">
                           <md-card style="margin-left:-40px; max-width:630px;" as-sortable-item-handle >
                              <md-card-content >
                                 <div layout="row" >
                                    <div flex="90" layout="column" >
                                       <span>
                                          {{item.productname}}
                                          <md-tooltip>Product Name</md-tooltip>
                                       </span>
                                    </div>
                                    <div flex style="margin-top:-17px" layout="column" >
                                       <!--  <md-button href aria-label="Open demo menu" class="md-icon-button" 
                                          ng-click="tableclick(inventory.itemdetails,item)" >
                                          <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                          </md-button> -->
                                       <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center"  >
                                          <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                             <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                          </md-button>
                                          <md-menu-content width="4">
                                             <md-menu-item>
                                                <md-button href ng-click="tableclick(inventory.itemdetails,item)">
                                                   <p>Edit</p>
                                                   <md-icon md-menu-align-target>
                                                   </md-icon>
                                                </md-button>
                                             </md-menu-item>
                                             <md-menu-item>
                                                <md-button href ng-click="deleteproductview(inventory.itemdetails,$index)">
                                                   <p>Delete</p>
                                                   <md-icon md-menu-align-target ></md-icon>
                                                </md-button>
                                             </md-menu-item>
                                          </md-menu-content>
                                       </md-menu>
                                    </div>
                                 </div>
                                 <md-divider></md-divider>
                                 <div layout="row" layout-sm="column" style="width: 15%;">
                                    <div flex >
                                       <span style="color:#808080;">
                                          {{item.Quantity}}
                                          <md-tooltip>Quantity</md-tooltip>
                                       </span>
                                    </div>
                                    <div flex>
                                       <span style="color:#808080;">
                                          {{item.Unit}}
                                          <md-tooltip>Unit</md-tooltip>
                                       </span>
                                    </div>
                                    
                                 </div>
                              </md-card-content>
                           </md-card>
                        </li>
                     </ul>
                  </div>
                  <div layout="row" layout-sm="column"  flex  ng-hide="checkAbility">
                  <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addproductview(inventory.itemdetails)">New Line</md-button>
               </div>
               </div>
            </div>
          
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <div flex="5">
                  <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
               </div>
               <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">Optional Details</label>
               </div>
               <md-input-container flex>
                  <label>Notes</label>
                  <textarea maxlength="200" type="text" ng-model="inventory.note" ng-disabled="checkAbility"></textarea>  
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <div flex="5" class="blankspace">
               </div>
               <div flex="20" class="blankspace">
               </div>
               <div layout="column" class="chipsdemoBasicUsage" flex style="margin-left:-5px; margin-top:-10px;" >
                  <md-content class="md-padding" layout="column">
                    
                     <md-chips ng-disabled="checkAbility" ng-model="inventory.roFruitNames" readonly="readonly" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tags">
                      
                        <md-chip-template>
                           <strong>{{$chip}}</strong>
                        </md-chip-template>
                     </md-chips>
                  </md-content>
               </div>
            </div>
         </md-content>
      </form>
   </div>
   <!--END OF CARD BODY-->
</div>
<!--END OF COLLAPSE CARDS