<!--Background banner with parallax effect-->
<md-background-banner color="#235b91" height="300px"> </md-background-banner>
<!-- 	 <div layout="row" layout-sm="column" layout-align="center center" style="z-index:10;position:absolute;height:100%;width:100%;opacity: 0.5;background-color:white;" ng-show="progresshowfull">
   <md-progress-circular md-mode="indeterminate" style"z-index:11"></md-progress-circular>
    
   </div>
   -->
<!--START OF ALL CONTENT-->
<div id="md-childApp-contentContainerSection" ng-init="loadAllProducts()" >
   <!--START OF FIRST CARD CONTAINER-->
   <div class="header_container" style="padding-top:20px;">
      <div  style="margin-bottom:8px;">
         <md-autocomplete
            ng-keypress="enter($event)"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.ProductCode"
            md-min-length="0"
            placeholder="Action Search">
            <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
            </md-item-template>
            <md-not-found>
               No matches found for "{{ctrl.searchText}}".
            </md-not-found>
         </md-autocomplete>
      </div>


         <md-whiteframe class="md-whiteframe-z1" layout="row" layout-sm="column" style="background:#EAFDFF; margin-bottom:10px;z-index:2; min-height:59px;">
   
      <div class="header_container_filter" style="margin:0;" layout="row" layout-align="center center" layout-margin>
         <div style="padding-left:16px;">
            <img src="img/material alperbert/avatar_tile_s_28.png" style="border-radius:20px;height:28px;width:28px;"/>
         </div>
         <div style="padding-left:20px;">
            <label style="font-weight:700">Sort</label>
         </div>
      </div>
      <div class="header_container_filter" layout="row" flex layout-align="center center" layout-sm="column">
         <div layout="row" layout-align="center center" layout-margin>
           <md-radio-group ng-model="data.group1">
            <md-radio-button value="Productname" class="md-primary" style="display: inline">Name</md-radio-button>
            <md-radio-button value="ProductCode"  class="md-primary" style="display: inline"> Code </md-radio-button>
         <!--    <md-radio-button value="Date" style="display: inline">Date</md-radio-button> -->
            <md-radio-button value="brand" class="md-primary" style="display: inline">Brand</md-radio-button>
            <md-radio-button value="ProductCategory"  class="md-primary" style="display: inline"> Category </md-radio-button>
            <md-radio-button value="status"  class="md-primary" style="display: inline">Status</md-radio-button>
            <md-radio-button value="stocklevel"  class="md-primary" style="display: inline">Stock</md-radio-button>
          </md-radio-group>
         </div>
                 
      </div>  


   </md-whiteframe>

   </div>
   <!--END OF FIRST CARD CONTAINER-->
   <!--START OF SECOND CARD CONTAINER-->
   <div class="card_container" style="padding-top:135px;">
      <!--START OF  COLLAPSE CARDS-->
      <div  class="collapse-card" ng-repeat="product in packages | filter:ctrl.searchText||undefined | orderBy: data.group1" ng-class="{ active: $active }">
         <!--START OF COLLAPSE CARD HEADING-->
         <div class="collapse-card__heading" layout="row" layout-align="start start"
            ng-click="getuploaddata(product.ProductCode,product.inventory,product.stocklevel)">

             <div style="width:9%">
                   <div  ng-hide="product.favouriteStar" class="blankspace collapse-card_header_content_info" ng-click="favouriteFunction(product)" layout="row">
                         <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
                  <div  ng-show="product.favouriteStar" class="blankspace collapse-card_header_content_info" ng-click="favouriteFunction(product)" layout="row">
                         <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
               </div>

            <div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%;" ng-click="$active = !$active;">
                    <div flex="30" layout-align="center center" layout-sm="column">
                  <h4 class="collapse-card__title">
                     Name: {{product.Productname}}
                  </h4>
                  <div>Brand:{{product.brand}}</div>

                  </div>
                  <div flex="25" class="blankspace" layout-align="center center" layout-sm="column">
                     <h4 class="collapse-card__title">
                        Code: <span style="color:green">{{product.ProductCode}}</span>
                     </h4>
                     <div>Category: {{product.ProductCategory}}</div>
                  </div>

                  <div flex="25" class="blankspace" layout-align="center center" layout-sm="column">
                      
                     <div style="margin-top: 32px;">Status:{{product.status}}</div>
                  </div>
                  <div flex="25" class="blankspace" layout-align="center center" layout-sm="column">
                      
                     <div style="margin-top: 32px;">Stock: {{product.stocklevel}}</div>
                  </div>


           <!--      <div>
                  <h4 class="collapse-card__title" ><label>Name: {{product.Productname}}</label>
                     <label style="padding-left: 2em;">Code: {{product.ProductCode}}</label></h4>

                     <div>
                     <label>Status: {{product.status}}</label>
                     <label style="padding-left: 2.7em;">Stock: {{product.stocklevel}}</label>
                     <label style="padding-left: 2.7em;">Brand:{{product.brand}}</label>
                     <label style="padding-left: 2.7em;">Category: {{product.ProductCategory}}</label>
                     </div>
                </div> -->


               <div flex>
                  <h4 class="collapse-card__title" style="margin-top:8px;float:right;">
                     <!--  <span style="color:{{}}">{{expense.Date}}</span> -->
                  </h4>
               </div>
            </div>
            <!--START OF CARD OPEN SECTION-->
            <!--END OF CARD OPEN SECTION-->
            <!--START OF CARD CONTROLS SECTION-->
            <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center start">
               <md-menu md-position-mode="target-right target">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                     <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                     <md-menu-item ng-if="transaction.Status == 'Pending'">
                        <md-button ng-click="acceptAccount($event,transaction)">
                           <p>Confirm</p>
                           <md-icon md-svg-icon="img/ic_check_24px.svg" style="color:green"></md-icon>
                        </md-button>
                     </md-menu-item>
                     <md-menu-item ng-if="transaction.Status == 'Pending'">
                        <md-button ng-click="rejectAccount($event,transaction)">
                           <p>Reject</p>
                           <md-icon md-svg-icon="img/ic_close_24px.svg" style="color:red"></md-icon>
                        </md-button>
                     </md-menu-item>
                     <md-divider ng-if="transaction.Status == 'Pending'"></md-divider>
                     <md-menu-item>
                        <md-button ng-click="printDetails($index)">
                           <p>Print Request</p>
                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                        </md-button>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>
            </div>
            <!--END OF CARD CONTROLS SECTION-->
         </div>
         <!--END OF COLLAPSE CARD HEADING-->
         <!--START OF CARD BODY-->
         <div class="collapse-card__body">
            <form name="editForm">
               <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                  <div style="margin-top:8px">Editing</div>
                  <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin:6px" ng-change="onChangePackage(formEditing)">
                  </md-switch>
                  <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="deleteproduct(product)">
                     <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                  </md-button>
                  <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbility" ng-click="updateproduct(product)">
                     <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                  </md-button>
               </div>
               <md-content flex>
                  <div layout layout-sm="column" layout-margin>
                     <div flex="5">
                        <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                     </div>
                     <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Package Details</label>
                     </div>
                     <md-input-container flex>
                        <label>Package name</label>
                        <input required type="text" ng-model="product.Productname" ng-disabled="checkAbility" /> 
                     </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin>
                     <div flex="5" class="blankspace">	
                     </div>
                     <div flex="20" class="blankspace">
                     </div>
                     <md-input-container flex>
                        <label>Package Description</label>
                        <textarea maxlength="200" type="text" ng-model="product.description" required ng-disabled="checkAbility">
                        </textarea>
                     </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin>
                     <div flex="5" class="blankspace">	
                     </div>
                     <div flex="20" class="blankspace">
                     </div>
                     <md-input-container flex>
                        <label>Package Code</label>
                        <input required type="text" ng-model="product.ProductCode"  ng-disabled="checkAbility"/> 
                     </md-input-container>
                    

                      <md-input-container flex>
                        <label>Unit</label>
                        <md-select ng-model="product.ProductUnit" ng-disabled="checkAbility" >
                           <md-optgroup label="Unit">
                           <md-option value="Unit 1">Unit 1</md-option>
                           <md-option value="Unit 2">Unit 2</md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin >
                     <div flex="5">
                     </div>
                     <div flex="20" style="margin-top:35px;">
                     </div>
                     <md-input-container flex>
                        <label>Price (without tax)</label>
                        <input required type="text" ng-model="product.productprice" ng-disabled="checkAbility" /> 
                     </md-input-container>
                     <md-input-container flex>
                        <label>Tax</label>
                        <md-select ng-model="product.producttax">
                           <md-optgroup label="Tax">
                           <md-option value="Tax 1">Tax 1</md-option>
                           <md-option value="Tax 2">Tax 2</md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin >
                     <div flex="5">
                     </div>
                     <div flex="20" style="margin-top:35px;">
                     </div>
                     <md-input-container flex>
                        <label>Cost Price</label>
                        <input required type="text" ng-model="product.costprice" ng-disabled="checkAbility" /> 
                     </md-input-container>
                     <md-input-container flex>
                        <label>Status</label>
                        <md-select ng-model="product.status" class="required" ng-disabled="checkAbility" >
                           <md-optgroup label="Status">
                           <md-option value="Active">Active</md-option>
                           <md-option value="Inactive">Inactive</md-option>
                        </md-select>
                     </md-input-container >
                  </div>
                  <div layout layout-sm="column" layout-margin >
                     <div flex="5">
                     </div>
                     <div flex="20" style="margin-top:35px;">
                     </div>
                     <md-input-container flex>
                        <label>Product Brand</label>
                        <md-select ng-model="product.brand" class="required" ng-disabled="checkAbility" >
                           <md-optgroup label="Brand">
                           <md-option value="Brand 1">Brand 1</md-option>
                           <md-option value="Brand 2">Brand 2</md-option>
                        </md-select>
                     </md-input-container >
                     <md-input-container flex>
                        <label>Product Category</label>		
                        <md-select placeholder="Product Category" ng-model="product.ProductCategory" ng-disabled="true"  ng-disabled="checkAbility">
                           <md-optgroup label="Product Category">
                           <md-option value="Product">Product</md-option>
                           <md-option value="Package">Package</md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin >
                     <div flex="5">
                     </div>
                     <div flex="20" style="margin-top:35px;">
                     </div>
                     <md-input-container flex>
                        <label>Inventory Tracking</label>	
                        <md-select placeholder="Inventory Tracking" ng-model="product.inventory" class="required" 
                           ng-change="changeinventorypackageview(product.inventory,product)" ng-disabled="checkAbility" >
                           <md-optgroup label="Inventory">
                           <md-option value="1">Do Not Track Inventory</md-option>
                           <md-option value="2">Track Inventory</md-option>
                        </md-select>
                     </md-input-container>
                     <md-input-container flex>
                        <label>Stock Level</label>
                        <input required type="text" ng-model="product.stocklevel" ng-disabled="stockdisabledpackageview"/> 
                     </md-input-container>
                  </div>
                  <input type="hidden" required type="text" ng-model="product.product_code" /> 
                  <md-divider></md-divider>
                  <div layout layout-sm="column" layout-margin>
                     <div flex="5">
                        <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                     </div>
                     <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Image</label>
                     </div>
                     <div layout="row" layout-align="center center" flex>
                        <div flex="98" >
                           <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="content1.val">
                           </md-table>
                           <md-progress-circular md-mode="indeterminate" ng-show="progresshow"></md-progress-circular>
                        </div>
                     </div>
                  </div>
                  <md-divider> </md-divider>
                  <div layout layout-sm="column" layout-margin>
                     <div flex="5">
                        <img src="img/material alperbert/avatar_tile_b_28.png" style="margin-top:22px;border-radius:20px"/>
                     </div>
                     <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Brochure</label>
                     </div>
                     <div layout="row" layout-align="center center" flex>
                        <div flex="98" >
                           <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="content2.val">
                           </md-table>
                           <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" ng-show="progressbrochure"></md-progress-circular>
                        </div>
                     </div>
                  </div>
               </md-content>
            </form>
         </div>
         <!--END OF CARD BODY-->
      </div>
      <!--END OF COLLAPSE CARDS-->
   </div>
   <!--START OF SECOND CARD CONTAINER-->
</div>
<!--END OF ALL CONTENT-->
<div  class="lock-size" layout="row">
   <div id="addProduct" class="fab_button_animation" style="background:red;"></div>
   <div id="viewProduct" class="fab_button_animation" style="background:#3498db;"></div>
   <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
      ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
      <md-fab-trigger>
         <div style="padding:px;">
            <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
               <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
            </md-button>
         </div>
      </md-fab-trigger>
      <md-fab-actions>
         <div style="padding:5px;">
            <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addProduct()" style="background-color:red;">
               <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
               <md-tooltip md-direction="left">Add product</md-tooltip>
            </md-button>
         </div>
         <div style="padding:5px;">
            <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="viewProduct()" style="background-color:#3498db;">
               <md-icon md-svg-src="img/ic_visibility_24px.svg"></md-icon>
               <md-tooltip md-direction="left">View Product</md-tooltip>
            </md-button>
         </div>
      </md-fab-actions>
   </md-fab-speed-dial>
</div>