<body ng-controller="AppCtrl" ng-cloak>	
   <!--START OF ALL CONTENT-->
   <div id="md-childApp-contentContainerSection" ng-init="loadAllProducts()" >
      <!--START OF FIRST CARD CONTAINER-->
      <div class="header_container" >

  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">

           <md-autocomplete flex
            ng-keypress="enter($event)"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.ProductCode"
            md-min-length="0"
            placeholder="Action Search">    

            <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
            </md-item-template>
            <md-not-found>
            No matches found for "{{ctrl.searchText}}".
           </md-not-found>

           </md-autocomplete>
            
        

        <sort-option name-array="testarr" serch-item="prodSearch" star="ctrl.searchText">  </sort-option>
   </md-whiteframe>
   </div>

         
        
      <!--END OF FIRST CARD CONTAINER-->
      <!--START OF SECOND CARD CONTAINER-->
      <div class="card_container"  >

 
         <!--START OF  COLLAPSE CARDS-->
         <div  class="collapse-card" ng-repeat="product in products | filter:ctrl.searchText||undefined 
         | orderBy: prodSearch " ng-class="{ active: $active }">
            <!--START OF COLLAPSE CARD HEADING-->
            <div class="collapse-card__heading" layout="row" layout-align="start start"
               ng-click="getuploaddata(product.ProductCode,product.inventory,product.stocklevel)">
               <!--START OF CARD OPEN SECTION-->
               <div style="width:56px;">
                   <div flex ng-hide="product.favouriteStar" class="collapse-card_header_content_info" ng-click="favouriteFunction(product)" layout="row">
                         <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
                  <div flex ng-show="product.favouriteStar" class="collapse-card_header_content_info" ng-click="favouriteFunction(product)" layout="row">
                         <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
               </div>
       


               <div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%; height:70px;" ng-click="$active = !$active;" layout-sm="row">
                 
<!--  WITHOUT RESPONSIVE -->
                    <div layout-sm="row" flex>
                        <div layout-sm="column" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>   {{product.Productname}}</b>
                            </span>
                            <span style="  padding-right: 15px;margin-left:-20px;" class="collapse-card__title">
                                <b>{{product.productprice}}</b>
                            </span>
                          
                        
                        </div>
                        <div layout-sm="column" style="margin-top:10px;" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px; font-size:13px;"> {{product.ProductCode}}</span>
                            <span style="padding-right: 15px;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:13px; ">{{product.status}}</span>
                            <span style="padding-right: 15px;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:13px; ">{{product.brand}}</span>
                            <span style="padding-right: 15px;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:13px; ">{{product.ProductCategory}}</span>
                            <span style="padding-right: 15px;  padding-left: 15px;  border-width:1px; font-size:13px; ">{{product.stocklevel}}</span>
                        </div>
                    </div>
                  <!--   <div>
                        <span style="padding-right: 10px; margin-left:120px;">
                            <md-icon md-svg-icon="img/ic_visibility_24px.svg" style="height:20px; width:20px;"></md-icon>
                        </span>
                        <br>
                            <br>
                                <span style="padding-right: 10px; margin-left:120px;">
                                    <md-icon md-svg-icon="img/ic_drafts_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </span>
                            </div>
                        -->

 
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// 
WITH RESPONSIVE -->

    <!--         <div layout= "row" layout-sm="column" flex style="width: 25%">
             
              <div flex>
                <span style="padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b style="padding-left: 20px;">{{product.Productname}}</b></span>
              
              </div>
              <div flex>
                 <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px; border-right-style: solid; border-width:1px;"><b style="padding-left: 20px;">{{product.productprice}}</b></span>
             
              </div>

            </div>

            <div layout ="row" layout-sm="column" flex style="width: 55%" class="blankspace">
              <div flex = "15">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; ">{{product.ProductCode}}</span>
                 
              </div>
                <div flex = "20">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid;  border-width:1px; font-size:13px; ">{{product.status}} </span>
                 
              </div>
                <div flex = "20">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; ">{{product.brand}}</span>
                 
              </div>
               <div flex = "20">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; "> {{product.ProductCategory}}</span>
                 
              </div>
              <div flex = "20">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; "> {{product.stocklevel}}</span>
                 
              </div>
            </div> -->



               </div>
               <!--END OF CARD OPEN SECTION-->
               <!--START OF CARD CONTROLS SECTION-->
               <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center end">
                  <md-menu md-position-mode="target-right target">
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item >
                                        <md-button ng-click="deleteproduct(product)">
                                            <md-icon md-svg-icon="img/ic_delete_24px.svg" ></md-icon>
                                            <p>Delete</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="updateproduct(product)">
                                            <md-icon md-svg-icon="img/ic_save_24px.svg" ></md-icon>
                                            <p>Edit</p>
                                        </md-button>
                                    </md-menu-item>
                                   <md-menu-item>
                                       <md-button ng-click="printDetails($index)">
                                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                                           <p>Print Request</p>
                                       </md-button>
                                   </md-menu-item>
                                </md-menu-content>
                            </md-menu>
               </div>
               <!--END OF CARD CONTROLS SECTION-->
            </div>
            <!--END OF COLLAPSE CARD HEADING-->
            <!--START OF CARD BODY-->
            <div class="collapse-card__body">
               <form name="editForm">
                  <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                     <div style="margin-top:8px">Editing</div>
                     <md-switch ng-model="formEditing" aria-label="Switch 1" style="margin-top:6px !important;" ng-change="onChangeproduct(formEditing)">
                     </md-switch>
                  <!--    <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityproduct" ng-click="deleteproduct(product)">
                        <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                     </md-button>
                     <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="checkAbilityproduct" ng-click="updateproduct(product)">
                        <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                     </md-button> -->
                  </div>
                  <md-content flex>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Product Details</label>
                        </div>
                        <md-input-container flex>
                           <label>Product name</label>
                           <input required type="text" ng-model="product.Productname"  ng-disabled="checkAbilityproduct"/> 
                        </md-input-container>
                     </div>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5" class="blankspace">	
                        </div>
                        <div flex="20" class="blankspace">
                        </div>
                        <md-input-container flex>
                           <label>Product Description</label>
                           <textarea maxlength="200" type="text" ng-model="product.description" ng-disabled="checkAbilityproduct" required>
                           </textarea>
                        </md-input-container>
                     </div>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5" class="blankspace">	
                        </div>
                        <div flex="20" class="blankspace">
                        </div>
                        <md-input-container flex>
                           <label>Product Code</label>
                           <input required type="text" ng-model="product.ProductCode" ng-disabled="checkAbilityproduct" /> 
                        </md-input-container>
                                <md-input-container flex>
                        <label>Unit</label>
                        <md-select ng-model="product.ProductUnit" ng-disabled="checkAbility" >
                           <md-optgroup label="Unit">
                           <md-option value="Unit 1">Unit 1</md-option>
                           <md-option value="Unit 2">Unit 2</md-option>
                        </md-select>
                     </md-input-container>
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <div flex="5">
                        </div>
                        <div flex="20" style="margin-top:35px;">
                        </div>
                        <md-input-container flex>
                           <label>Price (without tax)</label>
                           <input required type="text" ng-model="product.productprice" ng-disabled="checkAbilityproduct" /> 
                        </md-input-container>
                        <md-input-container flex>
                           <label>Tax</label>
                           <md-select ng-model="product.producttax" ng-disabled="checkAbilityproduct" >
                              <md-optgroup label="Tax">
                              <md-option value="Tax 1">Tax 1</md-option>
                              <md-option value="Tax 2">Tax 2</md-option>
                           </md-select>
                        </md-input-container>
                     </div>
                      <md-divider> </md-divider>
                     <div layout layout-sm="column" layout-margin >
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Optional Details</label>
                        </div>
                        <md-input-container flex>
                           <label>Cost Price</label>
                           <input required type="text" ng-model="product.costprice" ng-disabled="checkAbilityproduct" /> 
                        </md-input-container>
                        <md-input-container flex>
                           <label>Status</label>
                           <md-select ng-model="product.status" class="required" ng-disabled="checkAbilityproduct" >
                              <md-optgroup label="Status">
                              <md-option value="Active">Active</md-option>
                              <md-option value="Inactive">Inactive</md-option>
                           </md-select>
                        </md-input-container >
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <div flex="5">
                        </div>
                        <div flex="20" style="margin-top:35px;">
                        </div>
                        <md-input-container flex>
                           <label>Product Brand</label>
                           <md-select ng-model="product.brand" class="required" ng-disabled="checkAbilityproduct" >
                              <md-optgroup label="Brand">
                              <md-option value="Brand 1">Brand 1</md-option>
                              <md-option value="Brand 2">Brand 2</md-option>
                           </md-select>
                        </md-input-container >
                        <md-input-container flex>
                           <label>Product Category</label>		
                           <md-select placeholder="Product Category" ng-model="product.ProductCategory" ng-disabled="true"  ng-disabled="checkAbilityproduct">
                              <md-optgroup label="Product Category">
                              <md-option value="Product">Product</md-option>
                              <md-option value="Package">Package</md-option>
                           </md-select>
                        </md-input-container>
                     </div>
                     <div layout layout-sm="column" layout-margin >
                        <div flex="5">
                        </div>
                        <div flex="20" style="margin-top:35px;">
                        </div>
                        <md-input-container flex>
                           <label>Inventory Tracking</label>	
                           <md-select placeholder="Inventory Tracking" ng-model="product.inventory" class="required" 
                              ng-change="changeinventoryproductview(product.inventory,product)" ng-disabled="checkAbilityproduct" >
                              <md-optgroup label="Inventory">
                              <md-option value="1">Do Not Track Inventory</md-option>
                              <md-option value="2">Track Inventory</md-option>
                           </md-select>
                        </md-input-container>
                        <md-input-container flex>
                           <label>Stock Level</label>
                           <input required type="text" ng-model="product.stocklevel" ng-disabled="stockdisabledproductview"/> 
                        </md-input-container>
                     </div>
                     <input type="hidden" required type="text" ng-model="product.product_code" /> 
                     <md-divider></md-divider>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Image</label>
                        </div>
                        <div layout="row" layout-align="center center" flex>
                           <div flex="98" >
                              <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="product.UploadImages.val">
                              </md-table>
                              <md-progress-circular md-mode="indeterminate" layout-align="center center"  ng-show="progresshow" style="z-index: 11;"></md-progress-circular>
                           </div>
                        </div>
                     </div>
                     <md-divider> </md-divider>
                     <div layout layout-sm="column" layout-margin>
                        <div flex="5">
                           <img src="img/material alperbert/avatar_tile_b_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        <div flex="20" style="margin-top:35px;">
                           <label style="font-weight:700">Brochure</label>
                        </div>
                        <div layout="row" layout-align="center center" flex>
                           <div flex="98" >
                              <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="product.UploadBrochure.val">
                              </md-table>
                              <md-progress-circular class="md-accent md-hue-1"  md-mode="indeterminate" ng-show="progressbrochure"></md-progress-circular>
                           </div>
                        </div>
                     </div>
                  </md-content>
               </form>
            </div>
            <!--END OF CARD BODY-->
         </div>
         <!--END OF COLLAPSE CARDS-->
      </div>
      <!--START OF SECOND CARD CONTAINER-->
   </div>
   <!--END OF ALL CONTENT-->
   <div  class="lock-size" layout="row">
      <div id="addProduct" class="fab_button_animation" style="background:red;"></div>
      <!-- <div id="viewPackage" class="fab_button_animation" style="background:#3498db;"></div> -->




      
      <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
         ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
         <md-fab-trigger>
            <div style="padding:px;">
               <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
                  <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
               </md-button>
            </div>
         </md-fab-trigger>
         <md-fab-actions>
            <div style="padding:5px;">
               <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addProduct()" style="background-color:red;">
                  <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
                  <md-tooltip md-direction="left">Add product</md-tooltip>
               </md-button>
            </div>
          <!--   <div style="padding:5px;">
               <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="viewPackage()" style="background-color:#3498db;">
                  <md-icon md-svg-src="img/ic_visibility_24px.svg"></md-icon>
                  <md-tooltip md-direction="left">View Package</md-tooltip>
               </md-button>
            </div> -->
         </md-fab-actions>
      </md-fab-speed-dial>
   </div>