       <!--Background banner with parallax effect-->
   
      <!--START OF ALL CONTENT-->
      <div ng-controller="viewctrl as ctrl">
       <div ng-init="loadAllExpenses()">
      </div>
         <!--START OF FIRST CARD CONTAINER-->
         <div class="header_container"  >

            <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">
                    <md-autocomplete flex
                        ng-keypress="enter($event)"
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearchView(ctrl.searchText)"
                        md-item-text="item.ProductCode"
                        md-min-length="0"
                        placeholder="Action Search">
                        <md-item-template>
                           <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
                        </md-item-template>
                     </md-autocomplete>                      
                 
                 
                    <sort-option name-array="testarr" serch-item="prodSearch" star="ctrl.searchText">  </sort-option>
                  
                
            </md-whiteframe>
         </div>
         <!--END OF FIRST CARD CONTAINER-->
         <!--START OF SECOND CARD CONTAINER-->
         <div class="card_container"  >
            <!--START OF  COLLAPSE CARDS-->
          
  <div  class="collapse-card"  ng-repeat="expense in expenses | filter:ctrl.searchText || undefined | orderBy: prodSearch" ng-class="{ active: $active }">
               <!--START OF COLLAPSE CARD HEADING-->
               <div class="collapse-card__heading" layout="row" layout-align="start start">
                  <!--START OF CARD OPEN SECTION-->
                     <div style="width:56px;">
                   <div flex ng-hide="expense.favouriteStar" class="collapse-card_header_content_info" ng-click="favouriteFunction(expense)" layout="row">
                         <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
                  <div flex ng-show="expense.favouriteStar" class="collapse-card_header_content_info" ng-click="favouriteFunction(expense)" layout="row">
                         <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                  </div>
               </div>
               
                  <div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%; height:70px;" ng-click="$active = !$active;" layout-sm="row">
               
                
                     <div layout-sm="row" flex>
                        <div layout-sm="column" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>   {{expense.date | date}}</b>
                            </span>
                            <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>{{expense.Reference}}</b>
                            </span>
                             <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>{{expense.totalUSD}}</b>
                            </span>
                             <span style="  padding-right: 15px;margin-left:-20px;  border-width:1px;" class="collapse-card__title">
                                <b>{{expense.Vendor}}</b>
                            </span>
                          
                        
                        </div>
                        <div layout-sm="column" style="margin-top:10px;" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px; font-size:13px;"> {{expense.Category}}</span>
                            
                            <span style="padding-right: 15px;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:13px; ">{{expense.Billable}}</span>
                             
                             <span style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; ">{{expense.Status}}</span>
                           <!--   
                            <span ng-if="expense.Status == 'Paid'" style="padding-right: 15px;  background-color: #4CAF50;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:13px; "> <b style=" width:70px; font-color:#FFFFFF;">
                            <font color="white">{{expense.Status}}</font></b></span> 

                             <span ng-if="expense.Status == 'Unpaid'" style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; "> <b style=" width:70px; font-color:#FFFFFF;">
                            <font color="white">{{expense.Status}}</font></b></span> 
                              -->
                             
                        </div>
                    </div>

<!--      WITH RESPONSIVE 

              <div layout= "row" layout-sm="column" flex style="width: 65%">
              <div flex>
                 <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>  {{expense.date | date}}</b></span>
             
              </div>
              <div flex="15">
                <span style="padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b style="padding-left: 20px;"> {{expense.Reference}}</b></span>
              
              </div>
              <div flex="15">
                 <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px; border-right-style: solid; border-width:1px;"><b style="padding-left: 20px;">{{expense.Amount}}</b></span>
             
              </div>
               <div flex>
                 <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px; border-right-style: solid; border-width:1px;"><b style="padding-left: 20px;">{{expense.Vendor}}</b></span>
             
              </div>
            </div>


            <div layout ="row" layout-sm="column" flex style="width: 55%" class="blankspace">
              <div flex = "15">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; ">{{expense.Category}}</span>
                 
              </div>
                <div flex = "20">
                 <span style="padding-right: 15px; background-color: #4CAF50; padding-left: 15px;  border-right-style: solid;  border-width:1px; font-size:13px; ">
                  <b style=" width:70px; font-color:#FFFFFF;"><font color="white">Paid</font></b></span>
              </div>
                <div flex = "25">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; ">{{expense.Billable}}</span>
                 
              </div>
               <div flex = "20">
                 <span style="padding-right: 15px; padding-left: 15px;  border-right-style: solid; border-width:1px; font-size:13px; "> {{expense.Status}}</span>
                 
              </div>
             
            </div>
  -->

                  </div>


                  <!--END OF CARD OPEN SECTION-->
                  <!--START OF CARD CONTROLS SECTION-->
                  <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center end">
                     <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                           <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item >
                                        <md-button ng-click="expensesDelete(expense)">
                                            <md-icon md-svg-icon="img/ic_delete_24px.svg" ></md-icon>
                                            <p>Delete</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="updateexpenses(expense)">
                                            <md-icon md-svg-icon="img/ic_save_24px.svg" ></md-icon>
                                            <p>Edit</p>
                                        </md-button>
                                    </md-menu-item>
                         
                          <md-menu-item>
                              <md-button ng-click="printDetails($index)">
                                  <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                                  <p>Print Request</p>
                              </md-button>
                          </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                  </div>
                  <!--END OF CARD CONTROLS SECTION-->
               </div>
               <!--END OF COLLAPSE CARD HEADING-->
               <!--START OF CARD BODY-->
               <div class="collapse-card__body" >
                  <form name="editForm">
                     <div layout="row" layout-align="end start" style="background:rgb(228, 240, 236)">
                        <div style="margin-top:8px">Editing</div>
                        <md-switch ng-model="expense.disableForm" aria-label="Switch 1" style="margin-top:6px !important;" >
                        </md-switch>
                 <!--        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="!expense.disableForm" ng-click="expensesDelete(expense)">
                           <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                        </md-button>
                        <md-button style="height:0px;line-height:0px; " class="md-icon-button" aria-label="More" ng-disabled="!expense.disableForm" ng-click="updateexpenses(expense)">
                           <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                        </md-button> -->
                     </div>
                     <md-divider></md-divider>
                     <md-content flex>
                        <div layout layout-sm="column" layout-margin>
                  <div flex="5">
                     <img src="img/material alperbert/avatar_tile_n_28.png" style="margin-top:22px;border-radius:20px"/>
                  </div>
                  <div flex="20" style="margin-top:35px;">
                     <label style="font-weight:700">Expense Details</label>
                  </div>

                  <md-date-picker model="expense.date" label="Date" dialog-md-theme="datePickerTheme" flex/>
                  </md-date-picker>

                  <md-input-container flex >
                     <label>Supplier  (Optional)</label>
                     <input ng-model="expense.Vendor" ng-disabled="!expense.disableForm">
                  </md-input-container>

                </div>
               

               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">
                      
                  </div>
                  <div flex="20" style="margin-top:35px;" class="blankspace">
                      
                  </div>

                  <md-input-container flex>
                     <label>Description</label>
                     <textarea maxlength="200" type="text" ng-model="expense.description" required ng-disabled="!expense.disableForm">
                     </textarea>
                  </md-input-container>   

                
               </div>


               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">
                      
                  </div>
                  <div flex="20" style="margin-top:35px;" class="blankspace">
                      
                  </div>

                  <md-input-container flex>
                        <label>Category</label>
                         <md-select ng-disabled="!expense.disableForm" ng-model="expense.Category"  >
                              <md-optgroup label="Category" >
                        <md-option value="Category 1">Category 1</md-option>
                        <md-option value="Category 2">Category 2</md-option>
                              </md-select>
                  </md-input-container >
                

                     <md-input-container flex >
                     <label>Reference No.</label>
                     <input ng-model="expense.Reference" required ng-disabled="!expense.disableForm">
                  </md-input-container>

                
               </div>



               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">
                      
                  </div>
                  <div flex="20" style="margin-top:35px;" class="blankspace">
                      
                  </div>
                

                  <md-input-container flex >
                     <label>Amount</label>
                     <input ng-model="expense.Amount"  ng-keyup="fullamount(expense,$event)" required ng-disabled="!expense.disableForm">
                  </md-input-container>

                  <md-input-container flex>
                        <label>Tax</label>
                  <md-select placeholder="Tax" ng-change="fullamount(expense,$event)" ng-model="expense.Tax" flex ng-disabled="!expense.disableForm">

                     <md-optgroup label="Tax">
                     <md-option value="10">10</md-option>
                     <md-option value="20">20</md-option>

                  </md-select>
                  </md-input-container flex>
                
               </div>
 

               <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                         <div flex="5" class="blankspace">
                        </div>
                        <div flex="20"  class="blankspace" style="margin-top:35px;">
                        
                        </div> 
                        <div flex="10">
                        <label><b>Total USD</b></label>
                        </div>
                        <div flex="20"  class="blankspace">
                        <label></label>
                        </div>
                        <div flex="5"  class="blankspace">
                          <label></label>
                        </div>
                        <div flex="20"    style="margin-left:-25px;">
                        <span ng-model="expense.totalUSD"><b>{{expense.totalUSD| currency}}</b></span>
                        </div>
                    </div>

                        <md-divider></md-divider>
                        <div layout layout-sm="column" layout-margin>
                           <div flex="5">
                              <img src="img/material alperbert/avatar_tile_f_28.png" style="margin-top:22px;border-radius:20px"/>
                           </div>
                           <div flex="20" style="margin-top:35px;">
                              <label style="font-weight:700">File</label>
                           </div>
                           <div layout="row" layout-align="center center" flex>
                              <div flex="98"  ng-click="tableclickfunc(expense)">
                                 <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="expense.UploadImages.val"></md-table>
                              </div>
                           </div>
                        </div>
                        <md-divider></md-divider>
                        <div layout layout-sm="column"  layout-margin>
                           <div flex="5">
                              <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                           </div>
                           <div flex="20" style="margin-top:35px;">
                              <label style="font-weight:700">Optional Details</label>
                           </div>
                           <md-input-container flex>
                              <label>Status</label>
                              <md-select  ng-model="expense.Status"  ng-disabled="!expense.disableForm" ng-change="caldisfun(expense)">
                                 <md-optgroup label="Status">
                                        
                                <md-option value="Paid">Paid</md-option>
                                <md-option value="Unpaid">Unpaid</md-option>

                              </md-select>
                           </md-input-container>
                        <!--    <md-date-picker model="expense.Duedate" label="Due Date" dialog-md-theme="datePickerTheme" 
                              style="margin-top: 13px;" flex/>
                           </md-date-picker>	 -->	
                            <md-date-picker model="expense.Duedate" label="Due Date" disable-date-picker="calanderdisable" flex></md-date-picker>


                            <!-- <md-input-container flex>
                           <label>Due Date</label>
                           <input type="date" ng-model="expense.Duedate" ng-disabled="calanderdisable">
                         </md-input-container>	 -->			 
                        </div>
                        <div layout layout-sm="column"  layout-margin>
                           <div flex="5" class="blackspace">
                           </div>
                           <div flex="20" style="margin-top:35px;" class="blackspace">
                           </div>                         

                            <md-input-container flex >
                               <label>Amount</label>
                               <input ng-model="expense.Assigncustomer" ng-disabled="true">
                            </md-input-container>

                             <md-input-container flex>
                              <label>Billable</label>
                              <md-select  ng-model="expense.Billable"   ng-disabled="!expense.disableForm">
                                 <md-optgroup label="Billable">
                                  <md-option value="Billable">Billable</md-option>
                                  <md-option value="Non Billable">Non Billable</md-option>
                              </md-select>
                           </md-input-container >
                        </div>
                     </md-content>
                  </form>
               </div>
               <!--END OF CARD BODY-->
            </div>
            <!--END OF COLLAPSE CARDS-->
         </div>
         <!--START OF SECOND CARD CONTAINER-->
      </div>
      <!--END OF ALL CONTENT-->
      <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
         ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
         <md-fab-trigger>
            <div style="padding:5px;">
               <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
                  <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
               </md-button>
            </div>
         </md-fab-trigger>
         <md-fab-actions>
            <div style="padding:5px;">
               <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addexpense()" style="background-color:#2980b9;">
                  <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
                  <md-tooltip md-direction="left">Add product</md-tooltip>
               </md-button>
            </div>
         </md-fab-actions>
      </md-fab-speed-dial>
 