<form>
	<md-content>
	<div layout layout-sm="column" layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<md-input-container flex="30">
		<label>Custom Fields</label>
		<input type="text" ng-model="" required>
	</md-input-container>
	<div layout="row" layout-align="start center">
		<md-icon style="color:#A5A0A0" md-svg-src="img/ic_add_circle_24px.svg" aria-label="Insert Drive Icon">
	</md-icon>
</div>
</div>
</md-content>
</form>