<form id="form" name="editForm">
	<md-content>
	<div layout layout-sm="column" layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<md-input-container flex="30">
		<label>Credit Note Prefix</label>
		<input ng-model="" required>
	</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Credit Note Sequence</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="30" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Edit Credit Note
</md-switch>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="30" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Delete Credit Note
</md-switch>
</div>
</md-content>
</form>