<form id="form" name="editForm">
	<md-content>
	<div layout layout-sm="column" layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<md-input-container flex="30">
		<label>Estimate Prefix</label>
		<input ng-model="" required>
	</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Estimate Sequence</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="20" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Edit Estimate
</md-switch>
<div layout="row" layout-align="start center" style="margin-top: 19px;">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="20" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Delete Estimate
</md-switch>

</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Default Payment Terms</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="40" class="md-primary" ng-model="data.cb2" aria-label="Switch 1">Display ship to address on Estimate
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="33" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Send PDF Estimate as attachment
</md-switch>
<div layout="row" layout-align="start center" style="margin-top: 19px;">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="40" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Notify admin when viewed or accepted
</md-switch>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="30" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Copy Admin for all estimates
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Custom fields for Estimate</label>
	<input type="text" ng-model="" required>
</md-input-container>
<div layout="row" layout-align="start center">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_add_circle_24px.svg" aria-label="Insert Drive Icon">
</md-icon>
</div>
<div flex layout="row" layout-align="center center" style="font-size:13px;margin-left: 51px;"><span>Display on estimate</span></div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>
		Default comment (top of Estimate)
	</label>
	<input type="text" ng-model="" required>
</md-input-container>
<div flex="20" layout="row" layout-align="start center">
	<md-button class="md-primary" style="font-size:12px;" >
	Copy from invoice
</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Default note(bottom of estimate)</label>
	<textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
</md-input-container>
<div flex="20" layout="row" layout-align="start center">
	<md-button class="md-primary" style="font-size:12px;" >
	Copy from invoice
</md-button>
</div>
</div>
</md-content>
</form>