<div>
	<form id="form" name="editForm">
		<md-content>
		<md-divider></md-divider>
		<div layout layout-sm="column" layout-margin>
			<div flex="5" hide-sm>	
			</div>
			<div flex="20" hide-sm>
			</div>
			<md-input-container flex="30">
			<label>Invoice Prefix</label>
			<input ng-model="" required>
		</md-input-container>
	</div>
	<div layout layout-sm="column" layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<md-input-container flex="30">
		<label>Invoice Sequence</label>
		<input type="text" ng-model="" required>
	</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="20" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Edit Invoices
</md-switch>
<div layout="row" layout-align="start center" style="margin-top: 19px;">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="20" ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Delete Invoices
</md-switch>
<div layout="row" layout-align="start center" style="margin-top: 19px;">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Default Payment Terms</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="22" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Allow Partial Payments
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch  flex="20" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Enable Discounts
</md-switch>
<md-input-container flex="30">
<label>Individual Items</label>
<md-select ng-model="ctrl.userState">
<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="20" class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Enable Taxes
</md-switch>
<md-input-container flex="30">
<label>Individual Items</label>
<md-select ng-model="ctrl.userState">
<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1">
	Enable Shipping
</md-switch>

</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-primary">
	Display ship to address on invoice
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Send PDF Invoice as attachment
</md-switch>
<!-- <div flex layout="row" layout-align="start center" style="margin-top: 19px;">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
-->
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Notify admin when invoice is viewed
</md-switch>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Copy Admin for all invoices
</md-switch>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Enable thank you email for receipts
</md-switch>
<div flex layout="row" layout-align="center center" style="margin-top:21px; font-size:13px;"><span>Copy Admin</span></div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="data.cb1" aria-label="Switch 1">Enable reminders for overdue invoices
</md-switch>
<div flex layout="row" layout-align="center center" style="margin-top:21px; font-size:13px;"><span>Copy Admin</span></div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Reminder interval in days</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Custom fields for invoice</label>
	<input type="text" ng-model="" required>
</md-input-container>
<div layout="row" layout-align="start center">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_add_circle_24px.svg" aria-label="Insert Drive Icon">
</md-icon>
</div>
<div flex layout="row" layout-align="center center" style="font-size:13px;margin-left: 51px;"><span>Display on invoice</span></div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Default comment(top of invoice)</label>
	<input type="text" ng-model="" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Default note(bottom of invoice)</label>
	<textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Bank details for offline payments</label>
	<textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
</md-input-container>
<div flex layout="row" layout-align="center center" style="font-size:13px;"><span style="margin-right: 15px;">Display on invoice</span></div>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="20" style="margin-top: 18px;color: rgba(0,0,0,.64);">
		<span> New Invoice Email</span>
	</div>
	<div flex>
		<md-button class="md-primary" ng-click="" >
		Edit
	</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="20" style="margin-top: 18px;color: rgba(0,0,0,.64);">
		<span> Payment Recept Email</span>
	</div>
	<div flex>
		<md-button class="md-primary" ng-click="" >
		Edit
	</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="20" style="margin-top: 18px;color: rgba(0,0,0,.64);">
		<span> Payment Reminder Email</span>
	</div>
	<div flex>
		<md-button class="md-primary" ng-click="" >
		Edit
	</md-button>
</div>	
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Recurring Invoices Default Action</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Generate invoice prior to bill date in days</label>
	<input type="text" ng-model="" required>
</md-input-container>
<div layout="row" layout-align="start center">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>
</div>
</div>
</md-content>
</form>
</div>