<!--START OF FIRST CARD CONTAINER-->
<div ng-controller="ViewCtrl as ctrl">

	<!--START OF SECOND CARD CONTAINER-->
	<div class="" style="padding-top:42px;padding-bottom:42px;">

		<div layout="row"><!-- layout-align="center start" -->

			<!--setting menu cards-->
			<div flex="25" flex-sm="22">
				<md-card style="background:#ececec; box-shadow:none; position:fixed;width: 25.5%;">
				<md-card-content>
				<div layout="row" layout-align="start center" style="width:100%;height:100px;background-color: #4E4142;">
					<div layout="row" layout-align="center center">
						<div flex layout="column" layout-align="center center"><img class="imgcircle" src="img/user.png"></div>
						<div flex><span style="color:#fff;">xyz@gmail.com</span></div>
					</div>
				</div>
				<md-divider></md-divider>
				<accordion>
					<accordion-panel title="PROFILE" ui-sref="main.one"></accordion-panel>
					<!-- 	<md-divider></md-divider> -->
					<accordion-panel title="PREFERENCES"  ui-sref="main.two"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="USERS" ui-sref="main.three"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="TAXES" ui-sref="main.four"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="TEMPLATES" ui-sref="main.five"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="PAYMENTS" ui-sref="main.six"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="LANGUAGES" ui-sref="main.seven"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="ACCOUNTS" ui-sref="main.eight"></accordion-panel>
					<!-- <md-divider></md-divider> -->
					<accordion-panel title="UPGRADES" ui-sref="main.nine"></accordion-panel>
				</accordion>
			</md-card-content>
		</md-card> 
	</div>  

	<div flex flex-sm="70">
		<div class="span12 ui-view-container" style="padding: 8px;">
			<div class="container" style="width:90.5%" ui-view  viewcss></div>        
		</div>
	</div>
</div>

</div>
<!--END OF FIRST CARD CONTAINER-->

<!--START OF SECOND CARD CONTAINER-->
<div class="card_container" style="padding-top:117px">
</div>
<!--START OF SECOND CARD CONTAINER-->
</div>		
<div  class="lock-size" layout="row">
	<div id="add" class="fab_button_animation" style="background:#2980b9;"></div>
	<div id="viewDrafts" class="fab_button_animation" style="background:#f1c40f;"></div>

	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode">
	<!-- 20px -->
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="addInvoice()">
	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
</md-button>
</md-fab-trigger>
<md-fab-actions >
            <!--div style="padding:5px;">
                <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="add()" style="background-color:#2980b9; ">
                    <md-icon md-svg-src="img/ic_note_add_24px.svg" ></md-icon>
                    <md-tooltip md-direction="left">New Invoice</md-tooltip>
                </md-button>
            </div-->

        </md-fab-actions>
    </md-fab-speed-dial>
</div>  