
<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form style="width:100%;">
		<md-content flex>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_a_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Add/Edit Role</label>
			</div>
			<md-input-container flex="40">
			<label>Role Name</label>
			<input ng-model="hgf">
		</md-input-container>
	</div>
	<md-divider></md-divider>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex><span>Modules</span></div>
		<div flex layout="row" layout-align="center center"><span>All Functions</span></div>
		<div flex layout="row" layout-align="center center"><span>View Only</span></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Invoices</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="a" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="b" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Estimates</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="c" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="d" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Credit Notes</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Payments</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Expenses</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Products</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Inventory</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Project</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Contacts</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>360 View</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Reports</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="e" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="f" class="md-primary">
		</md-checkbox></div>
	</div>
	<md-divider></md-divider>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex><span>Other Functions</span></div>
		<div flex layout="row" layout-align="center center"><span>Allow</span></div>
		<div flex hide-sm>
		</div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Dashboard</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="i" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Induvidual Reports</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="j" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Settings</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="k" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div>
	<div layout layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<div flex layout="row" layout-align="start center"><label>Log Time</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="l" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div>

	<md-divider></md-divider>
</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="answer('not useful')" >
	Save
</md-button>
<md-button ng-click="answer('useful')" style="margin-right:20px;" >
Cancel
</md-button>
</div>
</md-dialog>