
<div>
	<form id="form" name="editForm">
		<md-content>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Import Data</label>
			</div>
			<md-input-container flex="30">
			<label>Select Application</label>
			<md-select ng-model="ctrl.userState">
			<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
		</md-select>
	</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="22" layout="row" layout-align="start center" style="margin-top: -30px;">
		<md-button class="md-primary" style="font-size:12px;" >
		Download the Sample CSV file.
	</md-button>
	<span style="color: #A2A1A1; font-size: 13px;">Ensure your data is in the same format to begin import process.</span>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<md-button class="md-primary" ng-click="user($event)" >
		Upload File
	</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<md-button  class="md-raised" ng-click="import($event)">
		Import Data
	</md-button>
</div>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_e_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Export Data</label>
	</div>
	<md-input-container flex="30">
	<label>Select Application</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Date Range(Optional)</label>
	<input ng-model="lkj">
</md-input-container>
<div flex="5" layout="row" layout-align="center center">To</div>
<md-input-container flex="30">
<label>Date Range(Optional)</label>
<input ng-model="lkj">
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<md-button  class="md-raised" ng-click="import($event)">
		Export Data
	</md-button>
</div>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Cancel Account</label>
	</div>
	<md-input-container flex="60">
	<label>Warning</label>
	<input type="text" ng-model="url.warning" required>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin style="margin-bottom:41px;">
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<md-button  class="md-raised" ng-click="import($event)">
		Cancel Account
	</md-button>
</div>
</div>
</md-content>
</form>
</div>





