
<div>
	<form id="form" name="editForm">
		<md-content>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_I_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Individual Taxes</label>
			</div>
			<div flex="22" style="margin-top: 27px;">
				<md-input-container md-no-float>
				<input ng-model="user.yf" placeholder="Tax Name" required>
			</md-input-container>
		</div>
		<div flex style="margin-top: 27px;">
			<md-input-container md-no-float>
			<input ng-model="user.yf" placeholder="Rate %" required>
		</md-input-container>
	</div>
	<div flex="10" style="margin-top: 20px;">
		<md-menu md-position-mode="target-right target" style="z-index:99;box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); background:rgb(250,250,250);">
		<md-button style="width:28px;" type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
		<md-icon md-menu-origin md-svg-src="img/ic_arrow_drop_down_24px.svg"></md-icon>
	</md-button>
	<md-menu-content width="2">
	<md-menu-item>
	<md-button ng-click="">
	<p flex>Edit</p>
	<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
<md-menu-item>
<md-button  ng-click="">
<p flex>Inactivate</p>
<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="">
<p flex>Delete</p>
<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="20" layout="row" layout-align="start center" style="margin-top: -30px;">
		<md-button class="md-primary" style="font-size:12px;" >
		Add Tax
	</md-button>
</div>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_m_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Multiple Tax Groups</label>
	</div>
	<div flex="22" style="margin-top: 27px;">
		<md-input-container md-no-float>
		<input ng-model="user.yf" placeholder="Multiple Tax Groups Name" required>
	</md-input-container>
</div>
<div flex style="margin-top: 27px;">
	<md-input-container md-no-float>
	<md-select ng-model="ctrl.userState" placeholder="Select Individual Taxes">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div flex="10" style="margin-top: 20px;">
	<md-menu md-position-mode="target-right target" style="z-index:99;box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); background:rgb(250,250,250);">
	<md-button style="width:28px;" type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
	<md-icon md-menu-origin md-svg-src="img/ic_arrow_drop_down_24px.svg"></md-icon>
</md-button>
<md-menu-content width="2">
<md-menu-item>
<md-button ng-click="">
<p flex>Edit</p>
<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
<md-menu-item>
<md-button  ng-click="">
<p flex>Inactivate</p>
<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="">
<p flex>Delete</p>
<md-icon md-menu-align-target md-svg-icon=""></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex="20" layout="row" layout-align="start center" style="margin-top: -30px;">
		<md-button class="md-primary" style="font-size:12px;" >
		Add Group Tax
	</md-button>
</div>
</div>
</md-content>
</form>
</div>





