<div>
	<form id="form" name="editForm" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content>

		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Company Information</label>
			</div>
			<md-input-container flex="40">
			<label>Account Owner</label>
			<input ng-model="" ng-disabled="true">
		</md-input-container>
		<div layout="row" layout-align="start center">
			<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
			<md-tooltip md-direction="right" style="width:200px; height:50px;">
			To update your name or email address \\n please edit your personal profile
		</md-tooltip>
	</md-icon>
</div>
</div>

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Your Email</label>
	<input type="text" ng-model="" ng-disabled="true">
</md-input-container>
<div layout="row" layout-align="start center">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	<md-tooltip md-direction="right" style="width:200px; height:50px;">
	To update your name or email address \\n please edit your personal profile
</md-tooltip>
</md-icon>
</div>

</div>

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Accout Url</label>
	<input type="text" ng-model="url.email" required>
</md-input-container>
<div flex="20" layout="row" layout-align="start center">
	<md-button class="md-primary" style="font-size:12px;" >
	Change
</md-button>
</div>
</div>

<md-divider></md-divider>

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Company Name</label>
	<input type="text" ng-model="email" required>
</md-input-container>

</div>

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="59">
	<label>Address</label>
	<input type="text" ng-model="asdf" placeholder="Street" required>
</md-input-container>
<div flex="10" hide-sm>	
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="22" md-no-float>
	<input ng-model="user.address2" placeholder="City" >
</md-input-container>
<md-input-container flex="22" md-no-float>
<input ng-model="user.jg" placeholder="State" required>
</md-input-container>
<md-input-container flex="22" md-no-float>
<input ng-model="user.yf" placeholder="Zip" required>
</md-input-container>
<div flex="10" hide-sm>	
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="59">
	<label>Country</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
<div flex="10" hide-sm>	
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="22">
	<label>Phone</label>
	<input type="text" ng-model="" required>
</md-input-container>
<md-input-container flex="22">
<label>Fax</label>
<input type="text" ng-model="" required>
</md-input-container>
<div flex="10" hide-sm>	
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="22">
	<label>Company Email</label>
	<input type="text" ng-model="" placeholder="sdvhdkj" required>
</md-input-container>
<md-input-container flex="22">
<label>Website</label>
<input type="text" ng-model="" placeholder="sdvhdkj" required>
</md-input-container>
<div flex="10" hide-sm>	
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex style="">
		<md-button  class="md-raised" ng-click="uploadImage($event)">
		Upload Company Logo
	</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex md-no-float>
	<!-- <label>Custom Fields</label> -->
	<input type="text" ng-model="" placeholder="Name" required>
</md-input-container>
<md-input-container flex md-no-float>
<input type="text" ng-model="" placeholder="value" required >
</md-input-container>
<div layout="row" layout-align="start center">
	<md-icon style="color:#A5A0A0" md-svg-src="img/ic_add_circle_24px.svg" aria-label="Insert Drive Icon">
</md-icon>
</div>
<div flex="10">	
</div>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_r_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Regional Settings</label>
	</div>
	<md-input-container flex="30">
	<label>Base Currency</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Time Zone</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Date Format</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Currency Format</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Decimal Places</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<!-- <md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_a_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Appearance</label>
	</div>
	<div flex>
		<md-card style="margin-top: 28px;">
		<md-card-content style="background:#efefef; height:31px;">
		<center style="margin-top:7px;">Theme</center>
	</md-card-content>
	<md-content flex style="overflow:hidden;">
	<div layout="row" layout-align="center center" layout-sm="column" layout-margin>
		<div flex style="border: 1px solid #efefef;"><img ng-src="img/default.png"></div>
		<div flex style="border: 1px solid #efefef;"><img ng-src="img/color.png"></div>
	</div>
</md-content>
</md-card>
</div>
</div> -->
</md-content>
</form>
</div>
