
<div>
	<form id="form" name="editForm">
		<md-content>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Payment Gateways</label>
			</div>
		</div>
	</md-content>
</form>
</div>





