		

<div layout="row" layout-align="center center" style="margin-top:25%" ng-if="headerInfo.Success == false">
	<h1>Please add a Card or an Account.</h1>
</div>
<!--START OF COLLAPSE CARDS-->
<div  class="collapse-card" ng-repeat="accordian in accordians" ng-class="{ active: $active }">
	<!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
	<div class="collapse-card__heading" layout="row" layout-align="start start" >
		<!--END OF CARD CONTROLS SECTION-->
		<!--START OF CARD OPEN SECTION-->
		<div class="collapse-card_header_content_info" layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center center" flex="90" ng-click="$active = !$active; closeAll();">
			<div flex="10"></div>
			<div flex="100">
				<h4 class="collapse-card__title" style="margin-top:8px;">
					<span>{{accordian.title}}</span>
				</h4>
			</div>
		</div>
	</div>
	<!--END OF COLLAPSE CARD HEADING-->
	<!--START OF CARD BODY-->
	<div class="collapse-card__body">
		<div ng-include="accordian.url"></div>
	</div>
	<!--END OF CARD BODY-->
</div>
<!--END OF COLLAPSE CARDS-->
