
<div style="margin-bottom:20px;">
	<form id="form" name="editForm">
		<md-content>
		<div layout="row" layout-sm="column" class="dialog-demo-content" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Users and Roles</label>
			</div>
			<div flex style="margin-top:25px;">
				<md-button class="md-primary" ng-click="user($event)" >
				Users
			</md-button>
		</div>
	</div>
	<md-divider style="margin-top:21px;"></md-divider>
	<div layout layout-sm="column" layout-margin style="margin-bottom: 21px;">
		<div flex="5" hide-sm></div>
		<div flex="20" hide-sm></div>
		<div flex style="margin-top:29px;">
			<md-button class="md-primary" ng-click="roles($event)" >
			Roles
		</md-button>
	</div>
</div>
</md-content>
</form>
</div>





