
<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form style="width:100%;">
		<md-content flex>
		<div layout="row" layout-align="center center" layout-sm="column" layout-margin>
			<div>
				<file-up-loader-new label="Upload Image" upload-type="image">
			</file-up-loader-new>
		</div>
	</div>
	<md-divider></md-divider>
</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="answer('not useful')" >
	Save
</md-button>
<md-button ng-click="answer('useful')" style="margin-right:20px;" >
Cancel
</md-button>
</div>
</md-dialog>