
<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form style="width:100%;">
		<md-content flex>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Invite User</label>
			</div>
			<md-input-container flex="30">
			<label>Email</label>
			<input ng-model="jhjg">
		</md-input-container>
		<div flex="20" layout="row" layout-align="start center">
			<md-button class="md-primary" style="font-size:12px;" >
			Resend Invite
		</md-button>
	</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>First Name</label>
	<input ng-model="jhjg">
</md-input-container>
<md-input-container flex="30">
<label>Last Name</label>
<input ng-model="jhjg">
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Role</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
<md-input-container flex="30">
<label>Status</label>
<md-select ng-model="ctrl.userState">
<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<span style="color: #A2A1A1; font-size: 15px;">An invite email with instructions will be sent to the new user</span>
	</div>
</div>
<md-divider></md-divider>
</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="answer('not useful')" >
	Save
</md-button>
<md-button ng-click="answer('useful')" style="margin-right:20px;" >
Cancel
</md-button>
</div>
</md-dialog>