<!--START OF FIRST CARD CONTAINER-->
<div ng-controller="AppCtrlGet as ctrl">
	

<div class="header_container">

   <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">
        
         <div layout="column" style="width: 880px;">
		 <md-autocomplete
				            ng-keypress="enter($event)"
				            ng-disabled="ctrl.isDisabled"
				            md-no-cache="ctrl.noCache"
				            md-selected-item="ctrl.selectedItem"
				            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				            md-search-text="ctrl.searchText"
				            md-selected-item-change="ctrl.selectedItemChange(item)"
				            md-items="item in ctrl.querySearchView(ctrl.searchText)"
				            md-item-text="item.ProductCode"
				            md-min-length="0"
				            placeholder="Action Search">
				            <md-item-template>
				            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
				            </md-item-template>
				         
				         </md-autocomplete>
       </div>
	
		<div ng-if="SearchbarShow ==false" flex layout="row" layout-sm="row" style="background:rgb(250,250,250);border-right:1px solid #ececec;">

		<div flex>
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button" 
			ng-click="backfunc()">
				<md-icon md-svg-icon="img/ic_arrow_back_24px.svg" ></md-icon> 
			</md-button>
		</div>
		<div  flex = "75" hide-sm>
			 
		</div>

		<div  flex>
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="deletemultiple()">
				<md-icon md-svg-icon="img/ic_delete_24px.svg" ></md-icon> 
			</md-button>
		</div>

		<div  flex >
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button">
				<md-icon md-svg-icon="img/ic_star_24px.svg" ></md-icon> 
			</md-button>
		</div>

			<div  flex >
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button">
				<md-icon md-svg-icon="img/ic_visibility_24px.svg" ></md-icon> 
			</md-button>
		</div>

			
		</div>

             <div layout="column">
         <md-menu md-position-mode="target-right target" style="background:rgb(250,250,250);width:50px;height:40px" ng-if="showsort==true">
                  
			 <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
				<md-icon md-svg-icon="img/ic_reorder_24px.svg" style="margin-top:-9px;" ></md-icon> 
			 </md-button>
			 
			 <md-menu-content width="4">
            <md-menu-item ng-repeat="item in sortarr">
              <md-button ng-click="starfunc(item,$index)">
                   <div layout="row">
                           <p flex>{{item.name}}</p>
                           <div>
                        <md-icon md-svg-icon="img/ic_arrow_drop_up_24px.svg" style="margin-top:4px; position: absolute;" ng-show="item.upstatus"></md-icon>
                           </div>
                           <div>
                              <md-icon md-svg-icon="img/ic_arrow_drop_down_24px.svg" style="margin-top:9px;position: absolute;"ng-show="item.downstatus"></md-icon>
                           </div>
                        <m-icon md-menu-align-target md-svg-icon="{{item.src}}" style="margin: auto 3px auto 0;"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
		</md-menu>
       
         <md-menu ng-controller="AppCtrlGetTimesheet" md-position-mode="target-right target"  ng-if="showsort==false">
                  
                     <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-svg-icon="img/ic_reorder_24px.svg" style="margin-top:-9px;" ></md-icon> 
                     </md-button>
                     
                  <md-menu-content width="4">
                  <md-menu-item ng-repeat="item in sortarrtimesheet">
                     <md-button ng-click="starfunc(item,$index)">
                        <div layout="row">
                           <p flex>{{item.name}}</p>
                           <div>
                              <md-icon md-svg-icon="img/ic_arrow_drop_up_24px.svg" style="margin-top:4px; position: absolute; left: 150px;" 
                                 ng-show="item.upstatus"></md-icon>
                           </div>
                           <div>
                              <md-icon md-svg-icon="img/ic_arrow_drop_down_24px.svg" style="margin-top:9px;position: absolute; left: 150px;   "
                                 ng-show="item.downstatus"></md-icon>
                           </div>
                           <md-icon md-menu-align-target md-svg-icon="{{item.src}}" style="margin: auto 3px auto 0;"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                      
                    
                 
               </md-menu-content>
                </md-menu>
       </div>         
   </md-whiteframe>

	<md-content class="tab_content">
	  <md-tabs md-stretch-tabs md-selected="selectedIndex" ng-click="changeTab(selectedIndex)">
		 <md-tab label="Customers" ></md-tab> 
		 <md-tab label="Suppliers"></md-tab> 
	  </md-tabs>
   </md-content>

</div>
<!--END OF FIRST CARD CONTAINER-->


		

		<!--START OF SECOND CARD CONTAINER-->
		<div class="card_container" style="padding-top: 119px;">


		  <div class="span12 ui-view-container">
			   <div class="container" ui-view  viewcss></div>        
			 </div>
		   
		  
		  </div>
			
		
	 		<!--END OF FIRST CARD CONTAINER-->
		
		<!--START OF SECOND CARD CONTAINER-->
		<div class="card_container" style="padding-top:119px">
		

		</div>
		<!--START OF SECOND CARD CONTAINER-->
</div>		
<div  class="lock-size" layout="row">
    <div id="add" class="fab_button_animation" style="background:#2980b9;"></div>
    <div id="viewDrafts" class="fab_button_animation" style="background:#f1c40f;"></div>

    <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
            ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"ng-if="showaddProject == true">
       
    <md-fab-trigger>
  
    <div style="padding:0px;">
   
     <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
      <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
     </md-button>
    
    </div>
    
          </md-fab-trigger>
    
          <md-fab-actions>
    
    
   
    <div style="padding:5px;">
   
     <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addCustomer()" style="background-color:red;">
      <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon><md-tooltip md-direction="left">New Contact</md-tooltip>
     </md-button>
    
    </div>    
    
    
   
   </md-fab-actions>
  </md-fab-speed-dial>
    
 <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
            ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"ng-if="showaddProject== false">
       
    <md-fab-trigger>
  
    <div style="padding:0px;">
   
     <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
      <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
     </md-button>
    
    </div>
    
          </md-fab-trigger>
    
          <md-fab-actions>  
   

    
    
   
    <div style="padding:5px;">
   
     <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addTimesheet()" style="background-color:blue;">
      <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon><md-tooltip md-direction="left">New Supplier</md-tooltip>
     </md-button>
    
    </div>

   
   </md-fab-actions>
  </md-fab-speed-dial>    
    
</div>  