<!--Background banner with parallax effect-->



<!--CARD CONTAINER START-->

<div class="card-container" style="padding:20px;">
    
    <!--WHITEFRAME START-->
    
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto">
               
        <!--FORM START-->
        <form name="editForm" ng-submit="submitSupplier()" style="width:100%">
            
            <md-content flex>
                
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
                    </div>
                    
                    <div flex="20" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Supplier Name</label>
                        
                    </div>
                    
                    <md-input-container id="accContainer" flex >
                        <label>Company or Individual Name</label>
                        <input  ng-model="supplier.Name" required></input>
                    </md-input-container>
                
                    <md-input-container id="accContainer" flex >
                        <label>Email</label>
                        <input type="email" ng-model="supplier.Email" required></input>
                    </md-input-container>
            
                </div>
        
                <md-divider></md-divider>
        
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
                    </div>
                    
                    <div flex="20" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Contact Person</label>
                        
                    </div>
                    
                    <md-input-container id="accContainer" flex >
                        
                        <label>First Name</label>
                        <input id="accNo" ng-model="supplier.CustomerFname" required></input>
                    
                    </md-input-container>
        
                    <md-input-container flex >
                        
                        <label>Last Name</label>
                        <input ng-model="supplier.CustomerLname" required></textarea>
        
                    </md-input-container>
    
                </div>

                <md-divider></md-divider>

                <div ng-show="showBilling" flex>
                    
                    <div layout layout-sm="column" layout-margin >
                        
                        <div flex="5">
                            
                            <img src="img/material alperbert/avatar_tile_b_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        
                        <div flex="20" style="margin-top:35px;">
                            
                            <label style="font-weight:700">Billing Address</label>
                            <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()"></md-icon>
                        </div>
                        
                        <md-input-container id="accContainer" flex >
                            
                            <label>Street</label>
                            <input id="accNo" ng-model="supplier.baddress.street" required></input>
                        
                        </md-input-container>
                    
                    </div>

                    <div layout layout-sm="column" layout-margin>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        <div flex="5" class="blankspace">
                        </div>
                        
                        <div flex="20" class="blankspace">
                        </div>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <md-input-container id="accContainer" flex >
                            
                            <label>City</label>
                            <input id="accNo" ng-model="supplier.baddress.city" required></input>
                        
                        </md-input-container>

                        <md-input-container id="accContainer" flex >
                            
                            <label>State</label>
                            <input id="accNo" ng-model="supplier.baddress.state"></input>

                        </md-input-container>
                    </div>

                    <div layout layout-sm="column" layout-margin>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <div flex="5" class="blankspace">
                        </div>
                        
                        <div flex="20" class="blankspace">
                        </div>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <md-input-container id="accContainer" flex >
                            
                            <label>Zip code</label>
                            <input id="accNo" ng-model="supplier.baddress.zip" required></input>
                        
                        </md-input-container>

                        <md-input-container  flex >
                            
                            <label>Country</label>
                            <md-select ng-model="supplier.baddress.country" flex>
                                <md-optgroup label="Country">
                                <md-option value="Maldives">Maldives</md-option>
                                <md-option value="Sri lanka">Sri lanka</md-option>
                                <md-option value="India">India</md-option>
                            </md-select>
                                
                        </md-input-container>
                            
                    </div>

                </div>

                <div ng-show="showShipping" flex>
                    
                    <div layout layout-sm="column" layout-margin >
                        
                        <div flex="5">
                            
                            <img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
                        </div>
                        
                        <div flex="20" style="margin-top:35px;">
                            
                            <label style="font-weight:700">Shipping Address</label>
                            <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()"></md-icon>
                        </div>
                        
                        <md-input-container id="accContainer" flex >
                            
                            <label>Street</label>
                            <input id="accNo" ng-model="supplier.saddress.s_street"></input>
                        
                        </md-input-container>
                    
                    </div>

                    <div layout layout-sm="column" layout-margin>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <div flex="5" class="blankspace">
                        </div>
                        
                        <div flex="20" class="blankspace">
                        </div>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        <md-input-container id="accContainer" flex >
                            
                            <label>City</label>
                            <input id="accNo" ng-model="supplier.saddress.s_city"></input>
                        
                        </md-input-container>

                        <md-input-container id="accContainer" flex >
                            
                            <label>State</label>
                            <input id="accNo" ng-model="supplier.saddress.s_state"></input>

                        </md-input-container>

                    </div>

                    <div layout layout-sm="column" layout-margin>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <div flex="5" class="blankspace">
                        </div>
                        
                        <div flex="20" class="blankspace">
                        </div>
                        
                        <!--KEEP BLANK SPACE - ask why-->
                        
                        <md-input-container id="accContainer" flex >
                            
                            <label>Zip code</label>
                            <input id="accNo" ng-model="supplier.saddress.s_zip"></input>
                        
                        </md-input-container>

                        <md-input-container  flex >
                            
                            <label>Country</label>
                            <md-select ng-model="supplier.saddress.s_country" flex>
                                <md-optgroup label="Country">
                                <md-option value="Maldives">Maldives</md-option>
                                <md-option value="Sri lanka">Sri lanka</md-option>
                                <md-option value="India">India</md-option>
                            </md-select>
                                
                        </md-input-container>
                            
                    </div>

                </div>

                <md-divider></md-divider>

                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5">
                        
                        <img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
                        
                    </div>
                    
                    <div flex="20" style="margin-top:35px;">
                        
                        <label style="font-weight:700">Contact Numbers</label>
                        
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container id="accContainer" flex >
                        
                        <label>Phone</label>
                        <input type="phone" ng-model="supplier.Phone" required></input>
                    
                    </md-input-container>

                    <md-input-container id="accContainer" flex >
                        
                        <label>Mobile</label>
                        <input type="phone" ng-model="supplier.Mobile" required></input>

                    </md-input-container>

                </div>

                <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <md-input-container id="accContainer" flex >
                        
                        <label>Fax</label>
                        <input id="accNo" ng-model="supplier.Fax" required></input>
                    
                    </md-input-container>

                    <md-input-container id="accContainer" flex >
                        
                        <label>Website</label>
                        <input id="accNo" ng-model="supplier.Website" required></input>

                    </md-input-container>

                </div>

                 <div layout layout-sm="column" layout-margin>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    
                    <div flex="5" class="blankspace">
                    </div>
                    
                    <div flex="20" class="blankspace">
                    </div>
                    
                    <!--KEEP BLANK SPACE - ask why-->
                    <div style="margin-left:55%;">
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="save()">Save</md-button>
                        
                    </div>
                    <div style="margin-left:2%;">
                        <md-button href class="md-raised md-primary" style="height:5px; "ng-click="Customerview()">Cancel</md-button>
                        
                    </div>
                   
                </div>

                
                <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                    
                    <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
                    </md-button>
                    
                </div>

            </md-content>

        </form>

    </md-whiteframe>

    <br><br>

    <!--WHITEFRAME END-->

</div>

<!--CARD CONTAINER END-->