<md-dialog style="width:960px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Payment History</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px" >
        <div layout layout-sm="column" layout-margin>
            <div flex="5">
                <img src="img/material alperbert/avatar_tile_h_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="20"  style="margin-top:35px;">
              
                <label style="font-weight:700">Payment History</label>
              
            </div>
            <div layout="row" layout-sm="column" style="height:40px; margin-top:35px;width:101%;font-size:12px;">
            <div flex>
                <label><b>Invoice No:</b></label>
                <span> Invo-0001</span>
            </div>
            <div flex>
                <label><b>Date:</b></label>
                 <span> sep 3,2015</span>
            </div>
            <div flex>
                <label><b>Amount:</b></label>
                <span> USD 500$</span>
            </div>
            </div>
         
        </div>
    
        <div layout layout-sm="column" layout-margin>
            
          <!--KEEP BLANK SPACE - ask why-->
            
          <div flex="5" class="blankspace">
          </div>
            
          <div flex="15" class="blankspace">
          </div>
            
          <!--KEEP BLANK SPACE - ask why-->
           <div style="padding-left:30px;" flex>
       
                  <md-whiteframe class="md-whiteframe" layout="row" layout-sm="column"                                       style="background-color:#FFFFFF; margin-top:12px;height:40px; border-bottom:1px #f1f1f1 solid;">
                      
                      <div layout="row" layout-sm="column" style="height:40px; margin-top:10px;width:101%;font-size:12px;">
                                <div flex style="margin-left:1%;" >
                                    <label><b>Date</b></label>
                                </div>

                                <div flex>
                                    <label><b>Payment no</b></label>
                                </div>

                                <div flex >
                                    <label><b>Paid Amount</b></label> 
                                </div>                                               
                                <div flex>
                                    <label><b>Payment Method</b></label> 
                                </div>
                               
                            </div>    
                              
                </md-whiteframe>
                
          </div> 
        
     </div>
            <div layout layout-sm="column" layout-margin style="margin-top:-20px;">
            
          <!--KEEP BLANK SPACE - ask why-->
            
          <div flex="5" class="blankspace">
          </div>
            
          <div flex="15" class="blankspace">
          </div>
            
          <!--KEEP BLANK SPACE - ask why-->
           <div style="padding-left:40px;" flex>
          
               <md-whiteframe class="md-whiteframe" layout="row" layout-sm="column"                                       style="background-color:#ffffff; margin-top:12px;height:40px;">
                                                         
                            <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;width:101%;font-size:12px;">
                                <div flex style="margin-left:0%;" >
                                   <label>sep 3,2015</label>
                                </div>

                                <div flex>
                                    <label>P-0001</label>
                                </div>

                                <div flex >
                                    <label>USD 500</label> 
                                </div>     
                                
                                <div flex>
                                    <label>cash</label> 
                                </div>

                               
                                       
                            </div>   
                     
                     </md-whiteframe>  
        </div>
                 
     </div>
            
      <div layout layout-sm="column" layout-margin style="margin-top:-20px;">
            
          <!--KEEP BLANK SPACE - ask why-->
            
          <div flex="5" class="blankspace">
          </div>
            
          <div flex="15" class="blankspace">
          </div>
            
          <!--KEEP BLANK SPACE - ask why-->
           <div style="padding-left:40px;" flex>
          
               <md-whiteframe class="md-whiteframe" layout="row" layout-sm="column"                                       style="background-color:#ffffff; margin-top:12px;height:40px;">
                                                         
                            <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;width:101%;font-size:12px;">
                                <div flex style="margin-left:0%;" >
                                    <label><b>comment:</b></label>
                                   <span>this is a comment.</span>
                                </div>



                               
                                       
                            </div>   
                     
                     </md-whiteframe>  
        </div>
                 
     </div>
                       
                       


   </md-dialog-content>
<!--
    <div class="md-actions" layout="row">
                <md-button href ng-click="AddImage()" class="md-primary">Add</md-button>
            </div>
-->
   </md-dialog>