<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="css/child_app_styles.min.css">
  <link rel="stylesheet" href="css/directive_library.css">
  <style type="text/css">
  </style>
</head>

<style type="text/css">
  body,html{
    background: #ececec;
  }

  md-toolbar{
    min-height: 30px;
    font-size: 16px;
  }

  md-card{
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084) !important;
  }



  tr{
    border-bottom: 1px solid #efefef; 
  }

  .totalspan{
    color:white; 
    font-size:22px;
  }

  .totalValue{
    margin-top:12px;
    color:white;
    font-size:50px;
  }

  .totalValue1{
    margin-top:21px;
    color:white;
    font-size:50px;
  }

  .p{
    font-size:15px;
  }

  .b{
    font-size:24px;
  }

  @media screen and (max-width: 979px){

    .totalspan{
      font-size:17px;
    }

    .totalValue{
      font-size:45px;
    }

    .totalValue1{
      font-size:45px;
    }

    .p{
      font-size:12px;
    }

    .b{
      font-size:22px;
    }

  }

  @media screen and (max-width: 799px){

    .totalspan{
      font-size:15px;
    }

    .totalValue{
      font-size:40px;
    }

    .totalValue1{
      font-size:40px;
      margin-top:39px;
    }

    .p{
      font-size:10px;
    }

    .b{
      font-size:15px;
    }

  }

  @media screen and (max-width: 598px){

   .totalspan{
    color:white; 
    font-size:22px;
  }

  .totalValue{
    margin-top:12px;
    color:white;
    font-size:50px;
  }

  .totalValue1{
    font-size:50px;
    margin-top:21px;
  }

  .p{
    font-size:15px;
  }

  .b{
    font-size:24px;
  }

}

.card-container{
    /*animation:fromBottom 1.6s 1;
    -webkit-animation:fromBottom 1.6s 1;*/
  }
  
  #SearchCard{
    position: relative;
  }

  .movedPosition{
    -webkit-animation: mymove 1s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count:1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: moveup 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes moveup {
    from {
      top: 0px;
      left:0px;
    }
    to {
     top: -175px;
     left: -315px;

   }
 }


 #mCSB_1_container{
  width: 100% !important; 
}

</style>

<body ng-cloak ng-controller="appctrl" >
  <!--Background banner with parallax effect-->
  <md-background-banner color="#235b91" height="300px"></md-background-banner>
  <!--START OF ALL CONTENT-->
  <div id="md-childApp-contentContainerSection" >

    <div class="header_container">
    </div>

    <div class="card-container" style="padding-top:55px;" ng-show="PreviewData==false">
      <div layout="row" layout-sm="column" layout-fill layout-padding layout-align="center center" style="height:500px;">
        <div flex="55">
          <md-card style="height:188px; background:#fff;" id="SearchCard">
          <md-card-content>
          <md-content flex style="height:169px; border:2px solid #070EB7;">
          <div layout style="margin:0 auto; width:90%;">
            <md-input-container flex md-no-float style="margin-top:61px;">
            <md-icon md-svg-src="img/ic_search_24px.svg" style="display:inline-block;"></md-icon>
            <input ng-model="searchText" placeholder="Search Customer Name or Company" ng-keypress="enter($event, searchText)">
          </md-input-container>
        </div>
      </md-content>
    </md-card-content>
  </md-card>
</div>
</div>
</div>

<div ng-if="nodata" style="margin-top:70px;">
  <h1>No results containing all your search terms were found.</h1>
</div>

<!--START OF FIRST CARD CONTAINER-->
<div class="card-container" style="padding-top:10px;" ng-show="PreviewData==true">
  <div layout="row" layout-sm="column" layout-fill layout-padding>
    <div layout="column" layout-sm="column" flex>
      <div flex>
        <md-card style="height:188px; background:#fff;">
        <md-card-content>
        <md-content flex style="height:169px; border:2px solid #070EB7;">
        <div layout style="margin:0 auto; width:90%;">
          <md-input-container flex md-no-float style="margin-top:61px;">
          <md-icon md-svg-src="img/ic_search_24px.svg" style="display:inline-block;"></md-icon>
          <input ng-model="searchText" placeholder="Search Customer Name or Company" ng-keypress="enter($event, searchText)">
        </md-input-container>
      </div>
    </md-content>
  </md-card-content>
</md-card>
</div>

<div flex>
 <md-card style="height:406px;">
 <md-card-content style="background:#465661;height:23px;">
 <h5 style="margin-top:5px;color:#fff;">Contact Information</h5>
</md-card-content>
<md-content flex>
<div layout="column" layout-sm="column" layout-padding style="margin-top:15px;"> 
  <md-input-container flex>
  <label>Company Name</label>
  <input ng-model="contact[0].CustomerFname" name="" readonly="readonly">
</md-input-container>
<md-input-container flex>
<label>Billing Address</label>
<input ng-model="contact[0].Phone" name="" readonly="readonly">
</md-input-container>
</div>
<div layout="row" layout-sm="column" layout-padding>
  <md-input-container flex>
  <label>Contact Person</label>
  <input ng-model="contact[0].CustomerFname" name="" readonly="readonly">
</md-input-container>
<md-input-container flex>
<label>Email</label>
<input ng-model="contact[0].Email" name="" readonly="readonly">
</md-input-container>
</div>
<div layout="row" layout-sm="column" layout-padding>
  <md-input-container flex>
  <label>Telephone</label>
  <input ng-model="contact[0].Phone" name="" readonly="readonly">
</md-input-container>
<md-input-container flex>
<label>Mobile</label>
<input ng-model="contact[0].Mobile" name="" readonly="readonly">
</md-input-container>
</div>
</md-content>
</md-card>
</div>

</div>

<div layout="column" layout-sm="column" flex>
  <div flex>
   <md-card>
   <md-card-content style="background:#465661;height:23px;">
   <h5 style="margin-top:5px;color:#fff;">Sales</h5>
 </md-card-content>
 <md-content flex style="overflow:hidden;padding-top: 27px;">
 <div id="container" style="height: 315px; margin: 0 auto;" ></div>
</md-content>
</md-card>
</div>

<div flex>
  <div layout="row" layout-wrap layout-md="row" layout-sm="column">
    <div flex>
      <md-card style="height:210px;">
      <md-card-content style="background:#465661;height:95px;padding:7px;">
      <div layout="row" layout-align="start start">
        <span class="totalspan" >TOTAL SALES</span>
      </div>
      <div layout="row" layout-align="center center">
        <span class="totalValue">2,306</span>
      </div>
    </md-card-content>
    <md-content flex style="overflow:hidden;">
    <div layout="row" layout-align="space-around start" style="margin-top:8px;">
      <div style="color:#b6b6b6"><p class="p">THIS MONTH</p></div>
      <div style="color:#b6b6b6"><p class="p">LAST MONTH</p></div>
      <div style="color:#b6b6b6"><p class="p">LAST 3 MO</p></div>
    </div>
    <div layout="row" layout-align="space-around start" style="margin-top:-5px;">
      <div><b class="b">2,801</b></div>
      <div><b class="b">3,402</b></div>
      <div><b class="b">7,496</b></div>
    </div>
  </md-content>
</md-card>
</div> 

<div flex>
  <md-card style="height:210px;">
  <md-card-content style="background:#465661;height:95px;padding:7px;">
  <div layout="row" layout-align="start start">
    <span class="totalspan">TOTAL PAYMENTS</span>
  </div>
  <div layout="row" layout-align="center center">
    <span class="totalValue">13,605</span>
  </div>
</md-card-content>
<md-content flex style="overflow:hidden;">
<div layout="row" layout-align="space-around start" style="margin-top:8px;">
  <div style="color:#b6b6b6;"><p class="p" >THIS MONTH</p></div>
  <div style="color:#b6b6b6;"><p class="p" >LAST MONTH</p></div>
  <div style="color:#b6b6b6;"><p class="p" >LAST 3 MO</p></div>
</div>
<div layout="row" layout-align="space-around start" style="margin-top:-5px;">
  <div><b class="b" >2,801</b></div>
  <div><b class="b" >3,402</b></div>
  <div><b class="b" >7,496</b></div>
</div>
</md-content>
</md-card>
</div>
</div>
</div>
</div>
</div>

<div layout="row" layout-sm="column" layout-fill layout-padding>
  <div layout="column" layout-sm="column" flex>
    <div flex>
      <md-card style="height:335px;">
      <md-card-content style="background:#465661;height:23px;">
      <h5 style="margin-top:5px;color:white;font-size: 14px;">Top Selling Products</h5>
    </md-card-content>
    <md-content  style="overflow: hidden;"><!-- ng-scrollbars ng-scrollbars-config="scrollbarConfig" -->
    <md-list ng-scrollbars ng-scrollbars-config="scrollbarconfig" style="overflow: hidden;height:277px;">
    <md-list-item class="md-1-line">
    <img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
    <span flex="5"></span>
    <div class="md-list-item-text">
      <p>Min Li Chan Min Li Chan</p>
    </div>
    <span flex></span>
    <div class="md-list-item-text">
      <p>247</p>
    </div>

  </md-list-item>
  <md-divider ></md-divider>
  <md-list-item class="md-1-line">
  <img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
  <span flex="5"></span>
  <div class="md-list-item-text">
    <p>Min Li Chan Min Li Chan</p>
  </div>
  <span flex></span>
  <div class="md-list-item-text">
    <p>247</p>
  </div>
</md-list-item>
<md-divider ></md-divider>
<md-list-item class="md-1-line">
<img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
<span flex="5"></span>
<div class="md-list-item-text">
  <p>Min Li Chan Min Li Chan</p>
</div>
<span flex></span>
<div class="md-list-item-text">
  <p>247</p>
</div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-1-line">
<img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
<span flex="5"></span>
<div class="md-list-item-text">
  <p>Min Li Chan Min Li Chan</p>
</div>
<span flex></span>
<div class="md-list-item-text">
  <p>247</p>
</div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-1-line">
<img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
<span flex="5"></span>
<div class="md-list-item-text">
  <p>Min Li Chan Min Li Chan</p>
</div>
<span flex></span>
<div class="md-list-item-text">
  <p>247</p>
</div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-1-line">
<img ng-src="img/60.jpeg" class="md-avatar" alt="{{todos[0].who}}" />
<span flex="5"></span>
<div class="md-list-item-text">
  <p>Min Li Chan Min Li Chan</p>
</div>
<span flex></span>
<div class="md-list-item-text">
  <p>247</p>
</div>
</md-list-item>
</md-list>
</md-content>
</md-card>
</div>
</div>

<div layout="column" layout-sm="column" flex>
  <div flex>
    <md-card style="height:160px;border:1px solid #009688; background:#009688;">
    <md-card-content style="height:135px;padding:7px;">
    <div layout="row" layout-align="start start">
      <span class="totalspan">AVERAGE SALES</span>
    </div>
    <div layout="row" layout-align="center center">
      <span class="totalValue1">1,652</span>
    </div>
  </md-card-content>
</md-card>
</div>

<div flex>
  <md-card style="height:160px;border:1px solid #FF9800; background:#FF9800;">
  <md-card-content style="height:135px;padding:7px;">
  <div layout="row" layout-align="start start">
    <span class="totalspan">TOTALS OUTSTANDING</span>
  </div>
  <div layout="row" layout-align="center center">
    <span class="totalValue1">9,450</span>
  </div>
</md-card-content>
</md-card>
</div>
</div>
</div>

<div layout="row" layout-sm="column" layout-fill layout-padding>
  <div flex>
   <md-card style="height:345px;">
   <md-card-content style="background:#465661;height:23px;">
   <h5 style="margin-top:5px;color:white;font-size: 14px;">Invoices</h5>
 </md-card-content>
 <md-content flex layout-padding style="overflow:hidden;">
 <div flex="100" style="margin-top: -18px;">
  <md-table headers="ledgers" sortable="sortable" filters="" custom-class="custom" thumbs="thumbs" count="count" content="twethdoorInvoice"></md-table>
</div>
</md-content>
</md-card>
</div>
</div>

</div>
<!--END OF FIRST CARD CONTAINER-->
</div>
<script src="js/jquery-2.1.3.min.js"></script>
<!--script src="js/socket.io-1.2.0.js"></script-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="js/uimicrokernel.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/controllers/view-360.js"></script>
</body>
</html>
