<md-dialog style="max-width:960px;">
        <md-toolbar style="height:5px;">
            <div class="md-toolbar-tools">
                <h2>Add Line Item</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px;" >
            <div layout layout-sm="column" layout-margin  >
                <div flex="5">
                    <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                </div>
                <div flex="20" style="margin-top:35px;">
                    <label style="font-weight:700">Item Details</label>
                </div>
                <md-autocomplete flex="" required="" 
                          ng-keypress="enter($event)"
                        md-input-name="autocompleteField"
                         md-no-cache="$root.noCache" 
                         md-selected-item="$root.selectedItemm" 
                         md-search-text="$root.searchTextt"
                          md-items="item in $root.querySearchh($root.searchTextt)" 
                          md-item-text="item.dis" 
                          md-floating-label="Product or Service"
                          md-autofocus="true">  
                    <md-item-template>
                        <span  md-highlight-text="$root.searchTextt">{{item.dis}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                <md-input-container flex>
                    <label>Quantity</label>
                    <input type="number" ng-model="tdIinvoice.qty" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Unit</label>
                    <input type="text" ng-model="$root.selectedItemm.valuep.ProductUnit" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Price</label>
                    <input type="text" ng-model="$root.selectedItemm.valuep.costprice" />
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                
                <md-input-container flex>
                    <label>Discount</label>
                    <input type="text" ng-model="tdIinvoice.MaxDiscount" />
                </md-input-container>
                <md-input-container flex>
                    <label>Tax</label>
                    <input type="text" ng-model="$root.selectedItemm.valuep.producttax" />  <!-- ng-disabled="true" -->
                </md-input-container>

                <md-input-container flex>
                    <label>Amount
                    </label>
                    <span style="display:none">{{calAMount()}}</span >
                    <input ng-model="Amount| currency" ng-disabled="true">
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                
                <md-input-container flex>
                    <label>Optional line comment</label>
                    <input type="text" ng-model="tdIinvoice.olp"/>
                </md-input-container>
            </div>
         </md-dialog-content>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button href ng-click="addproductToarray()" class="md-primary">OK</md-button>
            </div>
    </md-dialog>

