<md-dialog style="max-width:960px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Contact</h2>
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="cusform">
    <md-dialog-content style="width:860px;">
        <div layout layout-sm="column" layout-margin>
            <div flex="5">
                <img src="img/material alperbert/avatar_tile_n_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="20" style="margin-top:35px;">
                <label style="font-weight:700">Contact Name</label>
            </div>
            
            <md-input-container id="accContainer" flex >
                <label>Company or Individual Name</label>
                <input  ng-model="$root.selectedItem1.value.Name"></input>
            </md-input-container>
             <input type="email" ng-model="$root.selectedItem1.value.customerid" style="display:none"></input>
            <md-input-container id="accContainer" flex >
                <label>Email</label>
                <input type="email" ng-model="$root.selectedItem1.value.Email" required></input>
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div layout layout-sm="column" layout-margin>
            <div flex="5">
                <img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="20" style="margin-top:35px;">
                <label style="font-weight:700">Contact Person</label>
            </div>
            <md-input-container id="accContainer" flex >
                <label>First Name</label>
                <input id="accNo" ng-model="$root.selectedItem1.value.CustomerFname" required></input>
            </md-input-container>
            <md-input-container flex >
                <label>Last Name</label>
                <input ng-model="$root.selectedItem1.value.CustomerLname" required>
                </textarea>
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div ng-show="showBilling" flex>
            <div layout layout-sm="column" layout-margin >
                <div flex="5">
                    <img src="img/material alperbert/avatar_tile_b_28.png" style="margin-top:22px;border-radius:20px"/>
                </div>
                <div flex="20" style="margin-top:35px;">
                    <label style="font-weight:700">Billing Address</label>
                    <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()"></md-icon>
                </div>
                <md-input-container id="accContainer" flex >
                    <label>Street</label>
                    <input id="accNo" ng-model="$root.selectedItem1.value.baddress.street" required></input>
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                <md-input-container id="accContainer" flex >
                    <label>City</label>
                    <input id="accNo" ng-model="$root.selectedItem1.value.baddress.city" required></input>
                </md-input-container>
                <md-input-container id="accContainer" flex >
                    <label>State</label>
                    <input id="accNo" ng-model="$root.selectedItem1.value.baddress.state"></input>
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                <md-input-container id="accContainer" flex >
                    <label>Zip code</label>
                    <input id="accNo" ng-model="$root.selectedItem1.value.baddress.zip" required></input>
                </md-input-container>
                 <md-input-container flex>
                    <label>Country</label>
                    <md-select ng-model="$root.selectedItem1.value.baddress.country" flex>
                        <md-optgroup label="Country">
                            <md-option value="Maldives">Maldives</md-option>
                            <md-option value="Sri lanka">Sri lanka</md-option>
                            <md-option value="India">India</md-option>
                            </md-optgroup>
                        </md-select>
                        </md-input-container>

            </div>
            </div>
            <div ng-show="showShipping" flex>
                <div layout layout-sm="column" layout-margin >
                    <div flex="5">
                        <img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
                    </div>
                    <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Shipping Address</label>
                        <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()"></md-icon>
                    </div>
                    <md-input-container id="accContainer" flex >
                        <label>Street</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.saddress.s_street"></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                    
                    <md-input-container id="accContainer" flex >
                        <label>City</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.saddress.s_city"></input>
                    </md-input-container>
                    <md-input-container id="accContainer" flex >
                        <label>State</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.saddress.s_state"></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                    
                    <md-input-container id="accContainer" flex >
                        <label>Zip code</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.saddress.s_zip"></input>
                    </md-input-container>

                    <md-input-container flex>
                    <label>Country</label>
                    <md-select ng-model="$root.selectedItem1.value.saddress.s_country" flex>
                        <md-optgroup label="Country">
                            <md-option value="Maldives">Maldives</md-option>
                            <md-option value="Sri lanka">Sri lanka</md-option>
                            <md-option value="India">India</md-option>
                            </md-optgroup>
                        </md-select>
                        </md-input-container>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5">
                        <img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
                    </div>
                    <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Contact Numbers</label>
                    </div>
                    
                    <md-input-container id="accContainer" flex >
                        <label>Phone</label>
                        <input type="phone" ng-model="$root.selectedItem1.value.Phone" required></input>
                    </md-input-container>
                    <md-input-container id="accContainer" flex >
                        <label>Mobile</label>
                        <input type="phone" ng-model="$root.selectedItem1.value.Mobile" required></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin>
                    
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                    
                    <md-input-container id="accContainer" flex >
                        <label>Fax</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.Fax" required></input>
                    </md-input-container>
                    <md-input-container id="accContainer" flex >
                        <label>Website</label>
                        <input id="accNo" ng-model="$root.selectedItem1.value.Website" required></input>
                    </md-input-container>
                </div>
                <!--      <md-button href ng-click="closeDialog()" class="btn btn-small">close</md-button> -->
            </md-dialog-content>
            </form>
            <div class="md-actions" layout="row">
                <md-button href ng-click="editCus($root.selectedItem1.value)" class="md-primary">save</md-button>
                
            </div>
        </md-dialog>