
    <md-dialog style="max-width:960px;">
        <md-toolbar style="height:5px;">
            <div class="md-toolbar-tools">
                <h2>Add Multiple dates</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px;" >
            <div layout layout-sm="column" layout-margin  >
            <div flex="5">
                 <img src="img/material alperbert/avatar_tile_d_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="15" style="margin-top:35px;">
                 <label style="font-weight:700">Due Date</label> 
            </div>
           <div layout layout-sm="row" layout-margin >
                                    <div class="table-responsive-vertical"  style="overflow-x:hidden;" > 
                                  
                                    <table id="table" class="table table-hover table-mc-light-blue" >
                                        
                                        <tbody>
                                          <tr animate ng:repeat="cn in testarr">
                                            <td data-title="Item Detail" >

                                            <div layout layout-sm="column" layout-margin>
                                        
                                        <md-input-container flex >
                                           
                                           <label>Due Date</label>
                                           <input type="date"  ng-model="cn.duedate">
                                           </md-input-container>

                                        <md-input-container flex >
                                            <label>Percentage</label>
                                            <input ng-model="cn.percentage">
                                            </md-input-container> 

                                            <md-input-container flex >
                                            <label>Amount</label>
                                            <input ng-model="cn.duDatePrice">
                                            </md-input-container>

                                           <!--  <md-icon md-svg-src="img/ic_delete_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="removeItem(cn)"></md-icon> -->

                                            <md-button href class="md-mini md-primary" ng-click="removeItem(cn)" style="height:30px;margin-left:-18px;top:30px;">
                                           <md-icon md-svg-src="img/ic_delete_24px.svg" class="iconColor" style="right:1px;right:90%;" ></md-icon><md-tooltip md-direction="left">Delete</md-tooltip>
                                        </md-button>
                                        </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <md-divider></md-divider>

                                         <div layout layout-sm="column" layout-margin>
                                         <md-button href class="md-mini md-primary" ng-click="addItem()" style="margin-left:-18px;">
                                           <md-icon md-svg-src="img/ic_add_circle_outline_24px.svg" class="iconColor" style="right:1px;right:90%;top:20px;" ></md-icon><md-tooltip md-direction="left">Add another Date</md-tooltip>
                                        </md-button>

                                          <div>
                                            
                                             <label>{{cn.duDatePrice}}</label>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
        </div>
         </md-dialog-content>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button href ng-click="AddDueDates()" class="md-primary">Save</md-button>
            </div>
    </md-dialog>



                                   