<!-- <md-dialog style="max-width:960px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload Files</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px" >
<div layout layout-sm="column" layout-margin>
    <div flex="5">
         <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
    </div>
         <div flex="20" style="margin-top:35px;">
           <label style="font-weight:700">Upload File</label>
         </div>
            <div flex="25">
             <file-up-loader-invoice upload-type="image" label="Upload files"></file-up-loader-invoice>
          </div>

   </div>
    <md-divider> </md-divider>
                        <br>
                        <br>
                        <div layout layout-sm="column" layout-margin>
                <div flex="5">
                  <img src="img/material alperbert/avatar_tile_f_28.png" style="margin-top:22px;border-radius:20px"/>
                </div>
                <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">File Details</label>
                </div>

             <div flex="70" >
                              <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="uploadimages.val">
                              </md-table>
                              <md-progress-circular md-mode="indeterminate" layout-align="center center"  ng-show="progresshow" style="z-index: 11;"></md-progress-circular>
                           </div>

                        </div>


   </md-dialog-content>
    <div class="md-actions" layout="row">
                <md-button href ng-click="AddImage()" class="md-primary">Add</md-button>
            </div>
   </md-dialog> -->
   <md-dialog style="max-width:960px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload Files</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px" >
<div layout layout-sm="column" layout-margin>
    <div flex="5">
         <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
    </div>
         <div flex="20" style="margin-top:35px;">
           <label style="font-weight:700">Upload File</label>
         </div>
            <div flex="25">
             <file-up-loader-new label="Upload files"></file-up-loader-new>
          </div>

   </div>
    <md-divider> </md-divider>
                        <br>
                        <br>
                        <div layout layout-sm="column" layout-margin>
                <div flex="5">
                  <img src="img/material alperbert/avatar_tile_f_28.png" style="margin-top:22px;border-radius:20px"/>
                </div>
                <div flex="20" style="margin-top:35px;">
                  <label style="font-weight:700">File Details</label>
                </div>

             <div flex="70" >
                              <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="uploadimages.val">
                              </md-table>
                              <md-progress-circular md-mode="indeterminate" layout-align="center center"  ng-show="progresshow" style="z-index: 11;"></md-progress-circular>
                           </div>

                        </div>


   </md-dialog-content>
    <div class="md-actions" layout="row">
                <md-button href ng-click="AddImage()" class="md-primary">Add</md-button>
            </div>
   </md-dialog>