<md-dialog style="max-width:960px;">
<md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edit Line Item</h2>
      <span flex></span>
      <md-button href class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
      </div>
      </md-toolbar>
      <form name="editProduct">
    <md-dialog-content style="width:850px;" >
        <div layout layout-sm="column" layout-margin >
            <div flex="5">
                <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
            </div>
            <div flex="20" style="margin-top:35px;">
                <label style="font-weight:700">Item Details</label>
            </div>
            <md-input-container flex>
				<label>Product or Service</label>
				<input type="text" ng-model="test.Productname " ng-disable="true"/> 
				</md-input-container>

        </div>
         <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                <md-input-container flex>
                    <label>Quantity</label>
                    <input type="number" ng-model="test.quantity" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Unit</label>
                    <input type="text" ng-model="test.ProductUnit" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Price</label>
                    <input type="text" ng-model="test.price" required/>
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                
                <md-input-container flex>
                    <label>Discount</label>
                    <input type="text" ng-model="test.discount" />
                </md-input-container>

                <md-input-container flex>
                    <label>tax</label>
                    <input type="text" ng-model="test.tax" />
                </md-input-container>

                <md-input-container flex>
                    <abel>Amount</label>
                   <span style="display:none">{{calAMount()}}</span >
                    <input ng-model="Amount| currency" ng-disabled="true">
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <div flex="5" class="blankspace"></div>
                <div flex="20" class="blankspace"></div>
                
                <md-input-container flex>
                    <label>Optional line comment</label>
                    <input type="text" ng-model="test.olp"/>
                </md-input-container>
            </div>
</md-dialog-content>
    </form>
              <div class="md-actions" layout="row">
                
                <span flex></span>

                <md-button href ng-click="edit()" class="md-primary">Edit</md-button>
              </div>

</md-dialog>

