<div class="card-container" style="padding:20px;">
    <!--WHITEFRAME START-->
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto">
        <!--FORM START-->
        <form name="editForm" ng-submit="submit()" style="width:960px;"  >
            <md-content flex>
                <div layout layout-sm="column" layout-margin  >
                    <div flex="5">
                        <img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
                    </div>
                    <div flex="20" style="margin-top:35px;">
                        <label style="font-weight:700">Customer Details</label>
                    </div>
                     <md-autocomplete flex="67" required="" 
                    md-input-name="autocompleteField"
                         md-no-cache="ctrl.noCache" 
                         md-selected-item="$root.selctedName" 
                         md-search-text="ctrl.searchText"
                          md-items="item in ctrl.querySearch(ctrl.searchText)" 
                          md-item-text="item.display" 
                          md-floating-label="Customer"
                          md-autofocus="true"
                           md-selected-item-change="selectedItemChange($root.selctedName)"
                          >
                        <md-item-template>
                            <span  md-highlight-text="ctrl.searchText"  md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    
                    <div layout="row" layout-align="center center" style="height:30px; width:30px; margin-top:40px;">
                        <md-menu md-position-mode="target-right target">
                            <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item >
                                    <md-button href ng-click="addCustomer()">
                                        <p>New Contact</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="showEditCustomer">
                                    <md-button href ng-click="editContact()">
                                        <p>Edit Contact</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                 <div layout layout-sm="column" layout-margin>
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                     
                    <md-input-container flex="67" ng-show="Billingaddress">
                        <label>Billing Address</label>
                        <input  ng-model="$root.selctedName.BillingAddress " ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container flex="67" ng-show="Shippingaddress" >
                        <label>Shipping Address</label>
                        <input  ng-model="$root.selctedName.ShippingAddress " ng-disabled="true"/>
                    </md-input-container>

                     <div style="height:30px;width:30px;margin-top:35px;"> 
                    <md-button ng-click="changeAddress()" style="height:30px;" href>
                    <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:95%;top:20px;" ></md-icon>
                    </md-button>
                    </div>
                </div>

                <div layout layout-sm="column" layout-margin>
                   
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                   
                    <md-input-container flex >
                        <label>Estimate No.</label>
                        <input ng-model="TDEstimate.estimateNo" ng-disabled="true">
                        </md-input-container>
                        <div flex >
                            <md-date-picker model="TDEstimate.Startdate"  label="Date" dialog-md-theme="datePickerTheme" />
                        </div>
                    </div>
                    <div layout layout-sm="column" layout-margin>
                       
                        <div flex="5" class="blankspace"></div>
                        <div flex="20" class="blankspace"></div>
                       
                        <md-input-container flex required>
                            <label>Payment Terms</label>
                            <md-select ng-model="TDEstimate.termtype" flex />
                            <md-optgroup label="Terms type">
                                <md-option value="Custom">Custom</md-option>
                                <md-option value="multipleDueDates" ng-show"dueDtaesShow">Multiple Due Dates</md-option>
                                <md-option value="7days">7 days</md-option>
                                <md-option value="14days">14 days</md-option>
                                <md-option value="21days">21 days</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <div flex >
                        <md-date-picker model="TDEstimate.duedate"  label="Validity" dialog-md-theme="datePickerTheme" ng-disabled="Showdate" />
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin>
                   
                    <div flex="5" class="blankspace"></div>
                    <div flex="20" class="blankspace"></div>
                   
                    <md-input-container flex >
                        <label>Customer Reference</label>
                        <input ng-model="TDEstimate.cusRef" >
                        </md-input-container>

                        <md-input-container flex >
                            <label>Comment</label>
                            <input ng-model="TDEstimate.comments">
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                        <div >
                            <div layout layout-sm="row" layout-margin  >
                                <div flex="5">
                                    <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                                </div>
                                <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">Invoice Items</label>
                                </div>
                                        <div>
                                              <ul as-sortable="sortableOptions"  ng-model="testArray.val"  flex>
                                                  <li ng-repeat="item in testArray.val" as-sortable-item flex style="margin-bottom:20px !important;">
                                                   <md-card style="margin-left:-30px;" as-sortable-item-handle flex>
                                                  <md-card-content >
                                                   <div style="margin-top:0px;">
                                                            <span >
                                                              {{item.Productname}}
                                                              <md-tooltip>Product Name</md-tooltip>
                                                            </span>
                                                            <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center" style="margin-top:-30px; margin-left:550px">
                                                                <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                                                    <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                                                  </md-button>
                                                                  <md-menu-content width="4">
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="saveProduct()">
                                                                        <p>Save Product</p>
                                                                        <md-icon md-menu-align-target ></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="viewProduct(item)">
                                                                        <p>Edit</p>
                                                                        <md-icon md-menu-align-target></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="deleteproduct()">
                                                                        <p>Delete</p>
                                                                        <md-icon md-menu-align-target ></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                  </md-menu-content>
                                                                </md-menu>
                                                                <md-divider></md-divider>
                                                            </div> 
                                                             
                                                           <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;">

                                                         <div flex >
                                                             <span style="color:#808080;">{{item.quantity}} 
                                                             <md-tooltip>Quantity</md-tooltip>
                                                             </span> 
                                                             <span style="color:#808080;">{{item.ProductUnit}} 
                                                             <md-tooltip>UOM</md-tooltip>
                                                             </span>
                                                          </div>

                                                           <div flex>
                                                             <span style="color:#808080;">{{item.price|currency}}
                                                             <md-tooltip>Price</md-tooltip>
                                                             </span> 
                                                          </div>

                                                          <div flex >
                                                             <span style="color:#808080;">{{item.discount}}%
                                                             <md-tooltip>Discount</md-tooltip>
                                                             </span> 
                                                          </div>

                                                           <div flex>
                                                             <span style="color:#808080;">{{item.tax}}%
                                                             <md-tooltip>Tax</md-tooltip>
                                                             </span> 
                                                          </div>

                                                          <div flex >
                                                             <span style="color:#808080;">{{item.amount|currency}}
                                                             <md-tooltip>Amount</md-tooltip>
                                                             </span> 
                                                          </div>
                                                    </div>                                                                       
                                                  </md-card-content>
                                                  </md-card></li>
                                                </ul>
                                                <div layout="row" layout-sm="column"  flex style="margin-left:10px; margin-top:25px;">
                                                     <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addproduct()">New Line</md-button>
                                                </div>
                                               </div>
                                            </div>
                                       <md-divider></md-divider>
                                                                    
                                                      <div style="overflow:hidden;">
                                                      <div layout layout-sm="column" layout-margin>
                                                      <div flex="5">
                                                          <img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
                                                      </div>
                                                      <div flex="20" style="margin-top:35px;">
                                                          <label style="font-weight:700">Totals</label>
                                                      </div>
                                                      
                                                      </div>
                                                     
                                                       <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:-50px;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style=""></div>
                                                            <div flex="10">
                                                                <label>Sub Total</label>
                                                            </div>
                                                     
                                                                <md-input-container flex="20" >
                                                                    <input type="text"  ng-model="tdi.fdiscount" style="display:none" />
                                                                </md-input-container>
                                                          
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="30">
                                                                <span>{{calculatetotal() | currency}}</span>
                                                            </div>
                                                        </div>
                                                         <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:20px;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style="margin-top:35px;"></div>
                                                            <div flex="10">
                                                                <label>Discount</label>
                                                            </div>
                                                       
                                                                <md-input-container flex="20" >
                                                                     <input type="text"  ng-model="TDEstimate.fdiscount" aria-label="discount"/>
                                                                </md-input-container>
                                                         
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="30" >
                                                               <label>{{finaldiscount() | currency}}</label>
                                                            </div>
                                                        </div>
                                                        <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style="margin-top:35px;"></div>
                                                            <div flex="10">
                                                                <label>Sales Tax</label>
                                                            </div>
                                                            
                                                                <md-input-container flex="20" >
                                                                    <input type="text"  ng-model="TDEstimate.salesTax" aria-label="sales tax"/>
                                                                </md-input-container>
                                                            
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="30" >
                                                                <label>{{CalculateTax()|currency}}</label>
                                                            </div>
                                                        </div>
                                                      
                                                       <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style="margin-top:35px;"></div>
                                                            <div flex="10">
                                                                <label>Another Tax</label>
                                                            </div>
                                                            
                                                                <md-input-container flex="20" >
                                                                   <input type="text" ng-model="TDEstimate.anotherTax" aria-label="Another Tax"/>
                                                                </md-input-container>
                                                            
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="30">
                                                               <label>{{CalculateOtherTax()|currency}}</label>
                                                            </div>
                                                        </div>
                                                      
                                                      <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style="margin-top:35px;"></div>
                                                            <div flex="10">
                                                                <label>Shipping</label>
                                                            </div>
                                                            
                                                                <md-input-container flex="20" >
                                                                    <input type="text" ng-model="TDEstimate.shipping" aria-label="shipping"/>
                                                                </md-input-container>
                                                            
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="30">
                                                                <span >{{finalamount()| currency}}</span>
                                                            </div>
                                                        </div>

                                                      <center>
                                                            <md-divider style="width:60%"></md-divider>
                                                        </center>
                                                    <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                                                            <div flex="5"></div>
                                                            <div flex="20" style="margin-top:35px;"></div>
                                                            <div flex="10">
                                                                <label>
                                                                    <b>Total USD</b>
                                                                </label>
                                                            </div>
                                                            
                                                                <md-input-container flex="20" >
                                                                    
                                                                </md-input-container>
                                                            
                                                            <div flex="5">
                                                                <label></label>
                                                            </div>
                                                            <div flex="27">
                                                              <span ng-model="creditNote.totalUSD"><b>{{finalamount()| currency}}</b></span>
                                                            </div>
                                                            <div style="height:30px; width:40px;"> 
                                                          <md-button ng-click="acceptAccount()" style="height:30px;" href>
                                                          <md-icon md-svg-src="img/ic_more_horiz_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;margin-right:0px;" ></md-icon>
                                                          </md-button>
                                                          </div>
                                                        </div>
                                                    <md-divider></md-divider>
                                                    <div layout layout-sm="column" layout-margin  >
                                                        <div flex="5">
                                                            <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                                                        </div>
                                                        <div flex="20" style="margin-top:35px;">
                                                            <label style="font-weight:700">Optional Details</label>
                                                        </div>
                                                        <md-input-container flex >
                                                            <label>Notes</label>
                                                            <input ng-model="TDEstimate.notes">
                                                            </md-input-container>
                                                        </div>
                                                        <div layout layout-sm="column" layout-margin>
                                                           
                                                            <div flex="5" class="blankspace"></div>
                                                            <div flex="20" class="blankspace"></div>
                                                            <md-select placeholder="Online Payment Method" ng-model="TDEstimate.paymentMethod" flex>
                                                                <md-optgroup label="Online Payment Method">
                                                                    <md-option value="Credit">Credit</md-option>
                                                                    <md-option value="Debit">Debit</md-option>
                                                                </md-optgroup>
                                                            </md-select>
                                                        </div>
                                                        <div layout layout-sm="column" layout-margin>
                                                            <div flex="5" class="blankspace"></div>
                                                            <div flex="20" class="blankspace"></div>
                                                            <div ng-init="DemoCtrl()" layout="column" class="chipsdemoBasicUsage" flex>
                                                                <md-content class="md-padding" layout="column" style="margin-left:-15px;">
                                                                    <md-chips
                                                                    ng-model="TDEstimate.roFruitNames"
                                                                    readonly="readonly"
                                                                    placeholder="Enter a tag"
                                                                    delete-button-label="Remove Tag"
                                                                    delete-hint="Press delete to remove tag"
                                                                    secondary-placeholder="+Tag">
                                                                    </md-chips>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                        
                                                        <div layout layout-sm="column" layout-margin  >
                                                        <div flex="5"></div>
                                                        <div flex="20" style="margin-top:35px;"></div>
                                                          <div layout="row" layout-sm="column"  flex style="margin-left:10px; margin-top:25px;">
                                                       <md-button href class="md-raised md-primary" style="height:5px; " ng-click="upload()"> upload</md-button>
                                                           </div>
                                                        </div>
                                                    <md-divider></md-divider>
                                                     <div class="md-actions" layout="row" layout-sm="column" layout-align="end start" >
                                                 <div style="margin-top:20px;">
                                                        <md-button  class="md-raised md-primary" type="submit">
                                                            <span class="loginBtnLabel">Save</span>
                                                        </md-button></div>
                                                        <div style="padding-left:20px; margin-top:20px;">
                                                        <md-button href style="" class="md-raised md-primary" ng-click="draft()">
                                                            <span class="loginBtnLabel">Save Draft</span>
                                                        </md-button></div>
                                                        <div style="padding-left:20px; margin-top:20px;">
                                                         <md-button href class="md-raised md-primary" ng-click="view()">
                                                            <span class="loginBtnLabel">All Estimates</span>
                                                        </md-button></div>
                                                         <div style="padding-left:20px; margin-top:20px;padding-right:20px;">
                                                         <md-button href class="md-raised md-primary" ng-click="cancel()">
                                                            <span class="loginBtnLabel">Cancel</span>
                                                        </md-button></div>
                                                    </div>
                                                </md-content>
                                            </form>
                                        </md-whiteframe>
                                                <!--WHITEFRAME END-->
                                            </div>
                                            <!--CARD CONTAINER END-->
                                            